@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
	.pro_dtl_btn .btn-primary {
		font-size: 12px;
		min-width: 100px;
	}
	.cart_right_btn .btn-primary {
		font-size: 12px;
		min-width: 100px;
	}
}

@media (max-width: 992px) {
	.header_search_inner {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.header_search {
		display: none;
	}
	.header_right_menu a {
		font-size: 14px;
	}
	.header_menu_right {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: #000;
	    justify-content: space-between;
	    padding-left: 15px;
	}
	.header_menu_right .sell_with_btn {
		padding: 10px 15px;
	}
	.top_header {
		padding-top: 50px;
	}
}

@media (max-width: 576px) {
	.top_header .logo{
		width: 100px;
	}
	.header_right_menu {
	    padding-left: 25px;
	}
	.header_right_menu .dropdown {
	    padding-right: 10px;
	    margin-right: 10px;
	}
}