html, body {
	height: 100%;
}
body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #F7F7F7;
}
a {
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease-out;
}
a:hover, a:focus {
	color: #D01418;
}
button {
	transition: all 0.3s ease-out;
}
button:focus, .btn-primary:focus {
	outline: none;
	box-shadow: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 700;
}
.dropdown-item:active, .dropdown-item:focus {
	outline: none;
	background-color: transparent;
}
.btn-primary {
	background-color: #D01418;
	border-radius: 0;
	border: none;
	outline: none;
	padding: 10px 10px;
	font-size: 14px;
	color: #fff;
	transition: all 0.3s ease-out;
	min-width: 145px;
}
.btn-success {
	background-color: #19A42C;
}
.btn-secondary {
	background-color: #2A3C52;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #2A3C52
}
.btn-secondary:hover, .btn-secondary:focus {
	background-color: #365882
}
.page-wrap {
	min-height: 100%;
}
.page-wrap:after {
  content: "";
  display: block;
}
.container {
	max-width: 1140px;
	width: 100%;
}
.form-control, .form-select {
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
	height: 40px;
	transition: all 0.3s ease-out;
}
.form-control:focus, .form-control:hover, .form-select:focus, .form-select:hover {
	box-shadow: none;
	border-color: #000;
}
/*============= Comman style end ==============*/

/*============= Slider ==============*/
.carousel-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.3;
}
/*============= Slider end ==============*/

/*============= Header start ==============*/
.top_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}
.header_search_inner {
	position: relative;
	width: 420px;
}
.header_search_inner .header_search_btn {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 40px;
}
.top_header_right {
	display: flex;
	align-items: center;
}
.header_right_menu {
	padding-left: 40px;
}
.header_right_menu .dropdown-toggle::after {
	content: none;
}
.header_right_menu a {
	color: #000;
}
.header_right_menu>.dropdown {
	padding-right: 20px;
	margin-right: 20px;
	position: relative;
}
.header_right_menu>.dropdown::after {
	content: "|";
	position: absolute;
	top: 0;
	right: 0;
}
.header_menu {
	background-color: #2A3C52;
}
.header_menu_item {
	display: flex;
}
.header_menu_item li {
	margin: 10px 0;
	margin-right: 15px;
}
.header_menu_item li a {
	color: #fff;
	padding: 5px
}
.header_menu_item li a:hover {
	color: #D01418;
}
.header_menu_item li.dropdown .dropdown-item {
	color: #212529;
	font-size: 14px;
	padding: 8px 15px;
}
.header_menu_item li.dropdown .dropdown-item:hover {
	color: #D01418;
}
.header_menu_item .dropdown-menu {
	border-radius: 0;
	padding: 0;
}
.header_menu_item .dropdown-menu li {
	margin: 0;
}
.header_menu_item li .dropdown-toggle::after {
	vertical-align: 0.100em;
}
.header_menu_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.header_menu_right {
	display: flex;
	align-items: center;
}
.header_menu_right a {
	color: #fff
}
.header_menu_right a i.fa-angle-down {
	padding-left: 3px;
}
.header_menu_right a i.fa-map-marker-alt {
	padding-right: 2px;
}
.header_menu_right .sell_with_btn {
	background-color: #D01418;
	padding: 15px 20px;
	margin-left: 20px;
}
.header_right_menu .header_cart {
	width: 400px;
	box-shadow: 0px 3px 6px #00000029;
	border: none;
	background-color: #fff;
	border-radius: 0;
}
.header_right_menu .empty_cart {
	color: #959595;
	font-size: 18px;
	text-align: center;
	padding: 35px 10px;
}
/*==  cart menu ==*/
.cart_menu_item {
	border-bottom: 1px solid #E5E5E5;
}
.cart_menu_item_img {
	width: 80px;
	flex: 0 0 auto;
}
.cart_menu_item_dtl {
	padding-left: 20px;
	padding-right: 25px;
	position: relative;
	flex: 1 0 0%;
}
.cart_menu_item_dtl h6 {
	font-size: 14px;
}
.cart_menu_item_dtl p {
	margin: 0;
	font-size: 12px;
	color: #000;
}
.cart_menu_item_dtl p span {
	color: #DC3839;
}
.cart_menu_item_dtl a {
	top: 0;
	right: 0;
	border: 1px solid #2A3C52;
	height: 22px;
	width: 22px;
	text-align: center;
	font-size: 10px;
}
.cart_menu_total {
	border-bottom: 1px solid #E5E5E5;
}
.cart_menu .btn {
	color: #fff;
}
/*==  cart menu ==*/
/*============= Header end ==============*/

/*============= footer ==============*/
.footer_copyright {
	background-color: #263951;
}
.footer_copyright_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_copyright_inner p {
	margin: 10px 0;
	color: #fff;
}
.footer_copyright_inner a {
	margin: 10px 0;
}
.footer_top {
	background-color: #EEEEEE;
	padding: 50px 0;
}
.logo_text a img {
	width: 126px;
}
.logo_text a {
	display: inline-block;
	margin-bottom: 10px;
}
.footer_link h5, .footer_subscribe h5 {
	font-weight: 700;
	margin-bottom: 20px;
}
.subscribe_box {
	position: relative;
}
.subscribe_box button {
	background-color: #D01418;
	width: 118px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.subscribe_box button:hover {
	background-color: #2A3C52;
}
/*============= footer end ==============*/

/*============= home section ==============*/
.home_title {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 40px;
	font-weight: 700;
	border-bottom: 1px solid #E5E5E5;
}
.home_title::before {
	content: "";
	height: 3px;
	width: 60px;
	background-color: #D01418;
	position: absolute;
	left: 0;
	bottom: -1.5px;
}
.home_our_product_bx {
	text-align: center;
	position: relative;
	display: block;
}
.home_our_product_bx_img img {
	min-width: 100%;
}
.home_our_product_bx p {
	background-color: #2A3C52;
	font-size: 15px;
	padding: 10px;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	transition: all 0.3s ease-out;
}
.home_our_product_bx:hover p {
	background-color: #D01418;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}
.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
	max-width: 100%;
}
.owl-nav {
	width: 80px;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: -55px;
	right: 0;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	background-color: #2A3C52;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.owl-carousel .owl-nav button.owl-next {
	margin-left: 5px;
}

/*================== Popup bacis css  ====================*/
.btn-close {
	width: 36px;
	height: 36px;
	box-shadow: 0px 0px 4px #00000095;
	background-color: #fff;
	color: #000;
	border-radius: 50%;
    padding: 0;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -5px;
    opacity: 1;
    z-index: 2;
}
.modal-content {
	border-radius: 0;
	border: none;
}
.modal-body {
	padding: 24px;
	position: relative;
}
.login_fild_inner {
	min-height: 140px;
}
.footer_line_link {
	margin-top: 120px;
	text-align: center;
	margin-bottom: 0;
}
.footer_line_link a, .otp_screen p a {
	color: #DC3839;
}
.otp_screen .timer_otp {
	color: #DC3839;
	font-weight: 500;
}
.otp_textbox .form-control {
    width: 45px;
    text-align: center;
}
.modal-dialog400 {
    max-width: 400px;
    margin: 1.75rem auto;
}
/*======== Location popup ===========*/
.modal-body .title span {
	font-weight: 400;
	font-size: 18px;
}
.search_detect {
	display: flex;
}
.search_area {
	position: relative;
	width: 100%;
	padding-right: 30px;
}
.search_area .form-control {
	padding-left: 30px;
}
.search_area i {
	position: absolute;
	top: 13px;
	left: 10px;
	opacity: 0.4;
}
.search_detect a {
	color: #D01418;
	border: 1px solid #D01418;
	padding: 0 25px;
	line-height: 38px;
	display: inline-block;
	min-width: 175px;
}
.dicect_loca p {
	color: #D01418;
	font-size: 13px;
}
.input_with_icon {
	position: relative;
}
.input_with_icon .form-control {
	padding-right: 30px;
}
.input_with_icon i {
	position: absolute;
	top: 13px;
	right: 10px;
}
.search_addsite p {
	text-align: right;
}
.search_addsite a {
	color: #D01418;
	padding: 5px;
	font-weight: 700;
	display: inline-block;
}
/*================= product list =================*/
.breadcrumbs a, .breadcrumbs span {
	font-size: 12px;
	font-weight: 700;
	color: #000;
	margin-right: 15px;
    padding-right: 15px;
    position: relative;
}
.breadcrumbs a:before {
	font-family: Font Awesome\ 5 Pro;
    content: "\f105";
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: -4px;
	margin-top: -9px;
	width: 7px;
}
.product_list_bx {
	border: 1px solid #EEEEEE;
	background-color: #fff;
}
.product_list_bx_img {
	position: relative;
}
.product_list_bx_img img {
	min-width: 100%;
}
.product_list_bx_dtl {
	padding: 8px;
}
.product_list_bx_dtl h6 {
	position: relative;
	padding-right: 60px;
	font-size: 18px;
}
.product_list_bx_dtl h6 span {
	position: absolute;
	top: 0;
	right: 0;
	color: #DC3839;
}
.product_list_bx_dtl h6 span i {
	font-size: 16px;
	display: inline-block;
    vertical-align: top;
}
.product_list_bx_dtl h6 span sub {
	font-weight: 500;
	color: #000;
}
.product_list_bx_dtl p {
	font-size: 12px;
	margin-bottom: 8px;
}
.product_list_bx_dtl p span {
	color: #DC3839;
}
.product_list_bx_img .dropdown {
	position: absolute;
	top: 8px;
	right: 8px;
}
.product_list_bx_img .dropdown-toggle::after {
	content: none;
}
.product_list_bx_img .dropdown-toggle {
	font-size: 16px;
}
.product_list_info {
	border-radius: 0;
	border: none;
	box-shadow: 15px 30px 80px #00000014;
	padding-top: 0;
	width: 170px;
}
.product_list_info h6 {
	font-size: 14px;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}
.info_item p {
	margin-bottom: 4px;
	font-size: 12px;
	color: #000;
}
.info_item p span {
	min-width: 100px;
	display: inline-block;
}
.product_distance {
	color: #2A3C52;
	font-size: 12px;
}
.product_list_bx_img .product_distance {
	position: absolute;
	right: 8px;
	bottom: 5px;
}
.product_distance img {
	min-width: auto;
	width: 10px;
	height: 10px;
	margin-right: 3px;
}
/*== custome popup sticky ==*/
.multiselect-native-select .btn-group {
	width: 100%;
}
.multiselect-native-select .btn-group .custom-select {
	text-align: left;
}
.cust_design_mix .cust_design_mix_btn {
	min-width: 147px;
	text-align: center;
	position: fixed;
	top: 160px;
	right: 0;
	transform: rotate(-90deg);
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	transform-origin:100% 100%;
	border-radius: 10px 10px 0px 0px;
}
/*======== custome mix ===========*/
.cusrom_rmc_tag {
	display: flex;
	width: 100%;
	align-items: center;
	font-size: 12px;
}
.tag {
	border: 1px solid #E5E5E5;
	padding: 8px 10px;
	margin-left: 10px;
	background-color: #fff;
}
.tag a {
	padding-left: 10px;
}
.custom_rmc_bx {
	border: 1px solid #E5E5E5;
	background-color: #fff;
}
.color_orange {
	color: #DC3839;
}
.custom_rmc_heading p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}
.custom_rmc_price p span {
	font-size: 12px;
	font-weight: 400;
}
.custom_rmc_info {
	border-left: 3px solid #2A3C52;
	border-right: 3px solid #2A3C52;
	background-color: #FAFAFA;
	display: inline-block;
	width: 100%;
}
.custom_rmc_info p {
	display: flex;
	justify-content: space-between;
}
.desi_mix_dec p {
	border-top: 1px solid #E5E5E5;
}
.qty-block {
    width: 100%;
    max-width: 140px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #2A3C52;
    position: relative;
    color: #2A3C52;
    font-size: 14px;
    display: flex;
}
.qty-block button {
    width: 40px;
    background: #fff;
    color: #2A3C52;
    text-align: center;
    font-size: 16px;
    border: 0px solid transparent;
    outline: none;
    padding: 0;
}
.qty-block .qty_sub {
    border-right: 1px solid #2A3C52;
}
.qty-block .qty_add {
    border-left: 1px solid #2A3C52;
}
.qty-block input {
    text-align: center;
    width: 60px;
    background: none;
    border: 0;
    font-weight: 700;
    border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.custom_rmc_qty span {
	font-size: 12px;
	font-weight: 700;
}

/*=========== product detail page ===========*/
.wht_bx {
	background-color: #fff;
}
.prod_dtl_slider .carousel-item:before {
	content: none;
}
.avail_stock_pump {
	flex-wrap: wrap;
}
.form-check-input {
	width: 16px;
	height: 16px;
	border: 1px solid #D01418;
	margin-top: 3px;
}
.form-check-input[type=checkbox] {
	border-radius: 0;
}
.form-check-input:checked {
	background-color: #D01418;
    border-color: #D01418;
}
.form-check-input:focus {
	box-shadow: none;
	border-color: #D01418;
}
.form-check-input:checked[type=checkbox] {
    background-position: left;
}
.prod_dtl_des {
	display: inline-block;
	width: 100%;
}
.prod_dtl_des>div {
	display: inline-block;
	width: 100%;
}
.prod_dtl_des h6 {
	font-size: 16px;
	margin: 10px 0;
}
.prod_dtl_des p {
	margin-bottom: 0;
}
.prod_dtl_des ul {
	list-style-type: circle;
	padding-left: 20px;
}
.avrage_rating {
	color: #D01418;
	font-size: 24px;
	margin-bottom: 20px;
}
.avrage_rating i {
	font-size: 18px;
	vertical-align: 0.20rem;
}
.avrage_rating sub {
	color: #000;
	bottom: 0;
	font-size: 14px;
}
.avrage_rating span {
	font-size: 16px;
	font-weight: 400;
	color: #000;
}
.review_bx {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 1rem;
}
.review_bx:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.review_bx h6 {
	font-size: 14px;
}
.star_rating i {
	margin-right: 2px;
	color: #D01418;
}
.review_bx .date {
	font-size: 12px;
}
.view_all {
	text-align: center;
}
.view_all a {
	text-decoration: underline;
	color: #D01418;
	font-weight: 500;
}
.view_all a:hover {
	color: #000;
}
textarea.form-control {
    min-height: 100px;
}
.delet_confor_pop_inner p {
	font-weight: 500;
}
.delet_confor_pop_inner .btn {
	min-width: 78px;
}
/*== time choose popup ==*/
.choose_time_bx {
	align-items: flex-start;
}
.choose_time_img {
	position: relative;
	border: 1px solid #E5E5E5;
	width: 130px;
}
.choose_time_img .form-check-input{
	position: absolute;
	top: 8px;
	left: 10px;
}
.choose_time_info {
	padding-left: 16px;
	flex: 1;
}
.alert {
	font-size: 12px;
	padding: 6px 15px;
	border-radius: 0;
}
.choose_time_bx {
	border-bottom: 1px solid #E5E5E5;
}
/*=========== cart page ===========*/

.cart_table {
	font-size: 13px;
	text-align: center;
}
.cart_table .qty-block {
	height: 32px;
	max-width: 95px;
	margin: 0 auto;
}
.cart_table .qty-block button {
	width: 25px;
	font-size: 13px;
}
.cart_table .qty-block input {
	width: 45px;
	font-size: 12px;
	padding: 5px;
	height: auto;
}
.cart_table .remove_cart_item {
	font-size: 16px;
}
.cart_table .table tr th {
	white-space: nowrap;
}
.cart_table .table tr td .date_time {
	color: #212121;
}
.cart_table .table tr td {
	padding-top: 20px;
	padding-bottom: 10px;
}
/* cart right */
.cart_right, .cart_item {
	min-height: 500px;
}
.cart_right h6 {
	font-size: 16px;
	border-bottom: 1px solid #E5E5E5;
}
.selected_address {
	border-bottom: 1px solid #E5E5E5;
}
.cart_price p {
	position: relative;
	padding-right: 75px;
}
.cart_price p span {
	position: absolute;
	right: 0;
	font-weight: 500;
}
.cart_price p.cart_price_total {
	border-top: 1px solid #E5E5E5;
}
/*============= profile page start ===================*/
.login_sign .dropdown-menu {
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    background-color: #fff;
    border-radius: 0;
}
.login_sign .dropdown-menu .dropdown-item {
	font-size: 13px;
}
.pro_left_menu ul {
	padding: 5px 20px;
}
.pro_left_menu ul li a {
	font-size: 14px;
	border-bottom: 1px solid #E5E5E5;
	padding: 15px 0 15px 25px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.pro_left_menu ul li a i {
	position: absolute;
	top: 17px;
	left: 0;
	font-size: 16px;
}
.pro_left_menu ul li a.active, .pro_left_menu ul li a:hover {
	color: #D01418;
	border-color: #D01418
}
.pro_left_menu ul li:last-child a {
	border-bottom: none;
}
.profile_fild_footer .btn-primary {
	min-width: 100px;
}
.form-label sup {
	color: red;
}
.error {
	color: red;
}
.site_add_bx {
	border: 1px solid #E5E5E5;
	position: relative;
}
.site_add_bx p {
	line-height: 26px;
}
.site_add_opration {
	position: absolute;
	right: 15px;
	bottom: 5px;
}
.site_add_opration a {
	font-size: 18px;
	display: inline-block;
	padding: 5px;
}
.add_site_link {
	position: absolute;
	right: 0;
	bottom: -25px;
	font-size: 14px;
}
.profile_fild {
	min-height: 300px;
}