#button{
	display:block;
	margin:20px auto;
	padding:10px 30px;
	background-color:#eee;
	border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}

/* .invalid-feedback{display:block;} */

.error{color:red !important;}

.modal{
    z-index: 20;   
}

.modal-backdrop{
	z-index: 10 !important;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 100%;
	color: #dc3545;
}

.my-profile-details-block p{word-break: break-all;}



.cust_datepicker {
	max-width: 150px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.cust_datepicker:before {
	content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    color: #95AAC9;
    line-height: 36px;
    font-size: 16px;
}
.cust_datepicker .form-control {
	padding-right: 30px;
	border: 1px solid #D3E0E9;
}




.cust_datepicker {
	max-width: 150px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.cust_datepicker:before {
	content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    color: #95AAC9;
    line-height: 36px;
    font-size: 16px;
}
.cust_datepicker .form-control {
	padding-right: 30px;
	border: 1px solid #D3E0E9;
	background-color: #fff;
	/* height: 34px; */
}
.data-box-header-dropdown {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.cust_datepicker_outer .cstm-select-box {
	/* max-width: 120px; */
	display: inline-block;
	width: 135px;
}
.cust_datepicker_outer {
	display: flex;
    align-items: center;
}

.my-profile-details-block strong{
	position: relative !important;
}

.my-profile-details-block p{
	padding-left: 0px !important;
}