a,button{transition:all .3s ease}
#sidebar{background:#212841}
#sidebar ul li a{color: rgba(255,255,255,.5);}
#sidebar ul li a:hover,#sidebar ul li.active a{background:none;color:#fff;border-left: 2px solid transparent;}
.NW-sidebar-wrapper .NW-sidebar-menu .NW-sidebar-dropdown .NW-sidebar-submenu ul{background: #1c2237;}
#sidebar ul li.active .NW-sidebar-submenu ul li a{color: rgba(255,255,255,.5);}
#sidebar ul li.active .NW-sidebar-submenu ul li.subActive a{color: rgba(255,255,255,1);}
#sidebar .sidebar-header{background:transparent}
.toggle_btn{color:#28304e!important}
.toggle_btn:hover,.btn-dark:not(:disabled):not(.disabled):active,.btn-dark:not(:disabled):not(.disabled):active:focus{color:#28304e!important}
.notification a.notificationClick,.cartdropdown a.cartdropdownClick{color:#425083}
.note_badge{background:#f2545b}
.user_icon span{color:#28304e}
.navbar{background:#fff}
.bg_dark{background:#28304e; height: 150px;}
.content_wrap_section{width:70%;margin:-98px auto 0;padding:0}
.site-button.gray:hover,.site-button.gray:active,.site-button.gray:focus{background:#28304e}
.table_main_section{background:#fff;border-radius:5px;padding-top:16px;box-shadow:0 2px 4px rgba(126,142,177,.12);transition:box-shadow ease .2s}
.table_main_section:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
#content{background:#f4f7fc;}
.main-title{font-size:16px;color:#fff;margin-bottom:36px;width:auto;position:relative;top:7px}
.main-title span{color:#fff;}
#sidebar .sidebar-header{background:#1c2237}
.site-button.outline.gray{color:#343434;border-color:transparent;background:#fff}
.site-button.outline.gray:hover{color:#343434!important;background-color:#f9fbfd}
.comn-table1 .table th{color:#95aac9;letter-spacing:.8px}
.comn-table1 .table thead{background:#e8f1fb}
.comn-table1 .table{border:1px solid #dce9f8;border-left:none;border-right:none}
.comn-table1 .table td,.comn-table1 .table th{border-bottom:1px solid #dce9f8;border-top:0 solid #dce9f8;padding:10px 15px; color: #212841; font-weight: 400; letter-spacing: 0.2px;}
.comn-table1 .table td{color:#3e4676}
.comn-table1 .table tbody tr:hover{background-color:#f9fbfd}
.table_subheading{padding:0;caption-side:top;padding-bottom:20px;font-size:18px;color:#3e4676}
.content_wrap_section.full_width{width:98%;margin:-98px auto 112px}
.sub_title{font-size:18px;line-height:22px;color:#3e4676}
.notification,.cartdropdown{margin:0 0 0 22px}
.user_icon{margin-left:40px}
.nw-theme .middle-container-wrap{margin-top:-132px}
.nw-theme .mini-middle-container-wrap{max-width: 760px;margin-left: auto;margin-right: auto;}
.nw-theme .main-title{font-size:22px;margin-bottom:30px;border-bottom:none}
.nw-theme .breadcrums, .nw-theme .breadcrums a{font-size: 15px;color: #fff;width: auto;position: relative; margin: 29px 0 30px 0;}
.nw-theme .breadcrums span{opacity: 0.7;}
.nw-theme h2{color:#151c44; font-weight: 500;}
.et-dynamic-add-btn-block h2{font-weight: 400; font-size: 14px;}
.nw-theme .data-box{border-radius:5px;box-shadow:0 2px 4px rgba(126,142,177,.12);border:none;transition:box-shadow ease .2s; padding: 0 20px;}
.nw-theme .data-box:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
.nw-theme .data-box-header.with-border{border-bottom:none}
/**/
.bg-white{background: #fff;}
.small-box{border-radius: 5px; box-shadow:0 2px 4px rgba(126,142,177,.12); transition: 0.3s all ease-in-out;}
.small-box > .small-box-footer{background: none;color: #3e4676;text-align: right;padding: 5px 15px}
.small-box .icon{width: 50px;height: 50px;border-radius: 100%;background: #f00;transform: translateY(-70%);top: 50%;right: 15px; font-size: 20px; text-align: center; line-height: 46px;}
.small-box:hover .icon{font-size: 20px;}
.small-box .icon.bg-aqua{background-color: rgba(25,181,254,0.20) !important; color: #19b5fe !important;}
.small-box .icon.bg-red{background-color: rgba(242,84,91,0.20) !important; color: #f2545b !important;}
.small-box .icon.bg-purple{background-color: rgba(113,64,209,0.20) !important;color: #7140d1 !important;}
.small-box .icon.bg-green{background-color: rgba(0,204,153,0.20) !important;color: #00cc99 !important;}
.small-box .icon.bg-yellow{background-color: rgba(247,188,6,0.20) !important; color: #f7bc06 !important;}
.small-box .icon.bg-dblue{background-color: rgba(82,124,249,0.20) !important; color: #527cf9 !important;}
.small-box .icon.bg-mpinch{background-color: rgba(18,191,187,0.20) !important;color: #12bfbb !important;}
.small-box .icon.bg-dgray{background-color: rgba(40,48,78,0.20) !important;color: #28304e !important;}
.small-box h3{color: #3e4676; font-weight: 600; margin-bottom: 0;font-size: 20px;}
.small-box p{color: #3e4676; font-size: 14px; margin-bottom: 0;}
.small-box:hover{box-shadow:0 5px 12px rgba(126,142,177,.7)}
.comn-table .table th, .comn-table .table td{color: #3e4676; padding: 10px 15px; border-bottom: 1px solid #dce9f8;}
.comn-table .table th, .comn-table1 .table th{background: #e8f1fb;border-bottom: 2px solid #dce9f8;border-top: 1px solid #dce9f8; color: #212841; font-weight: 500; letter-spacing: 0;}
.comn-table .table td{padding: 15px;}
.data-box-header{padding: 15px 0; display: flex; align-items: center;}
.vehicle-block .data-box-header{padding: 0;}
.data-box-header h2{flex: 10 0 auto;}
footer.bg-gray{background:#fff;}
.data-box-footer{border-top: 1px solid #edf2f9;}

.badge{height: auto;font-size: 11px !important;line-height: normal;min-width: 85px; letter-spacing: .1px; padding: 6px 3px 4px 3px;}
.badge.bg-red{background-color: #DC3545 !important; color: #fff !important;}
.badge.bg-green{background-color: #28A845 !important; color: #fff !important;}
.badge.bg-yellow{background-color: #F8BB04 !important;color: #fff !important;}
.badge.bg-grey{background-color: #6C757D !important;color: #fff !important;}
.badge.bg-blue{background-color: #2680EB !important;color: #fff !important;}
.badge.bg-purple{background-color: #8F80FF !important;color: #fff !important;}
.badge.bg-orange{background-color: #FF8C00 !important;color: #fff !important;}

.tc-nwblue{color: #687ae8;}
.tc-red{color: #f2545b;}
.comn-table .table td:last-child a{text-decoration: none;}
.comn-table .table td:last-child span{color: #3e4676;}
.page-link{color: #687ae8;}
.page-item.active .page-link{border-color: #687ae8;background-color: #687ae8;}
.pagination-block .pag-showing-text{color: #3e4676;}
.page-link{border: 1px solid #e3ebf6;}
.page-item.disabled .page-link{color: #95aac9;border-color: #e3ebf6;}
.data-box-footer{padding: 15px 0;}

/*site button*/
.button-sm{padding:3px 8px;font-size:12px}
.site-button, .site-button-secondry{border-radius: 3px;border: 1px solid transparent; letter-spacing: 0.2px;}
.site-button{background-color:#687ae8}
.site-button:active,.site-button:hover,.site-button:focus,.active > .site-button{background-color:#475de3;color:#fff; box-shadow: none; outline: none;}
.site-button.gray{background-color:#95aac9;color:#fff}
.site-button.gray:hover,.site-button.gray:active,.site-button.gray:focus{background-color:#7c96bc;color:#fff !important}
.site-button.dark{background-color:#28304e;color:#fff}
.site-button.dark:hover,.site-button.dark:active,.site-button.dark:focus{background-color:#1b2035;color:#fff !important}
.site-button.green{background-color:#0c9;color:#fff}
.site-button.green:hover,.site-button.green:active,.site-button.green:focus{background-color:#00a67c;color:#fff}
.site-button.red{background-color:#f2545b;color:#fff}
.site-button.red:hover,.site-button.red:active,.site-button.red:focus{background-color:#ef3039;color:#fff}
.site-button.yellow{background-color:#f7bc06;color:#fff}
.site-button.yellow:hover,.site-button.yellow:active,.site-button.yellow:focus{background-color:#d2a005;color:#fff}
.site-button.ltblue{background-color:#19b5fe;color:#fff}
.site-button.ltblue:hover,.site-button.ltblue:active,.site-button.ltblue:focus{background-color:#01a4f0;color:#fff}

.site-button.outline{color: #687ae8;border-color: #687ae8;}
.site-button.outline:hover, .site-button.outline:focus{color:#fff !important; border-color: #687ae8; background-color: #687ae8;}
.site-button.outline.gray{color:#95aac9;border-color:#95aac9}
.site-button.outline.gray:hover, .site-button.outline.gray:focus{border-color:#95aac9;color:#fff !important; background-color: #95aac9;}
.site-button.outline.dark{color:#28304e;border-color:#28304e}
.site-button.outline.dark:hover, .site-button.outline.dark:focus{border-color:#28304e;color:#fff !important; background-color: #28304e;}
.site-button.outline.green{color:#0c9;border-color:#0c9}
.site-button.outline.green:hover, .site-button.outline.green:focus{border-color:#0c9;color:#fff !important; background-color: #0c9;}
.site-button.outline.red{color:#f2545b;border-color:#f2545b}
.site-button.outline.red:hover, .site-button.outline.red:focus{border-color:#f2545b;color:#fff !important; background-color: #f2545b;}
.site-button.outline.yellow{color:#f7bc06;border-color:#f7bc06}
.site-button.outline.yellow:hover, .site-button.outline.yellow:focus{border-color:#f7bc06;color:#fff !important; background-color: #f7bc06;}
.site-button.outline.ltblue{color:#19b5fe;border-color:#19b5fe}
.site-button.outline.ltblue:hover, .site-button.outline.ltblue:focus{border-color:#19b5fe;color:#fff !important; background-color: #19b5fe;}
.site-button-link.blue{color:#687ae8}
.site-button-link.blue:hover,.site-button-link.blue:active,.site-button-link.blue:focus{color:#475de3}
/*site button end*/
.site-button.gray span.dropdown-label{color: #fff !important;}
.button-browse{background-color: #95aac9;}
.button-browse:hover{background-color: #7c96bc;}

.new-switch .switch-label{background: #e6eaf0;}
.switch-green > .switch-input:checked ~ .switch-label{background: #0c9;}
.verifide-ad{color: #0c9;}

.text-white{color:#fff}
.text-primary{color:#687ae8;}
.text-secondry{color:#95aac9}
.text-black{color:#28304e}
.text-gray{color:#28304e}
.text-gray-medium{color:#202741}
.text-gray-dark{color:#1a2035}
.text-red{color:#f2545b}
.text-green{color:#0c9}
.text-yellow{color:#f7bc06}
.text-blue{color:#687ae8}
.text-light-blue{color:#52b4ee}

.wht-tble-bg{border-radius: 5px;box-shadow: 0 2px 4px rgba(126,142,177,.12);border: none;transition: box-shadow ease .2s;padding: 20px !important; background: #fff;}
.wht-tble-bg:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
.sub-title-block{/*float: left;*/ width: 100%; margin: 0 0 15px 0; padding: 0; position: relative; display: flex;}
.nw-theme .sub-title{width: auto; font-size: 16px;padding: 5px 0; flex: 1 0 auto;}
.nw-theme .sub-title span{font-weight: 600;}
.add-user-block .comn-table1 .table tr td span, .vehicle-category-block .comn-table1 .table tr td span{color: inherit;}

.comn-table .table tr:last-child td{border-bottom: 1px solid #dce9f8;}
.data-box-footer{border-top: 0px solid #edf2f9;}

.product-list-contet-block, .logs-email-contet-block, .bls-users-contet-block, .proposal-contet-block, .et-contet-block, .Vehicle-list-contet-block{border:1px solid #d3e0e9;}
.et-attachment-block{border-color: #d3e0e9;}
.product-list-title, .logs-email-title, .bls-users-title, .proposal-title{color: #3e4676; margin-bottom: 10px;}
.product-list-contet-block ul li p, .logs-email-contet-block ul li p, .bls-users-contet-block ul li p, .proposal-contet-block ul li p, .et-field-data-block ul li p{color: rgba(62,70,118,0.60);}
.product-list-contet-block ul li p .vName, .logs-email-contet-block ul li p .vName, .bls-users-contet-block ul li p .vName, .proposal-contet-block ul li p .vName, .et-field-data-block ul li p .vName{color: #3e4676;}
.Vehicle-list-contet-block ul li p .vName a, .bls-users-contet-block ul li p .vName a, .product-list-contet-block ul li p .vName a{color: #687ae8;}

.form-control{color: #3e4676; font-size: 13px;}
.chosen-container-multi .chosen-choices .search-field input[type="text"]{font-size: 13px; color: #95aac9;}
.chosen-container-multi .chosen-choices, .vehicle-img-block{border: 1px solid #d3e0e9;}
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label, .input-group > .custom-select:focus, .input-group > .cstm-select-box:focus, .input-group > .cstm-select-box:hover, .input-group > .form-control:focus, .input-group > .form-control:hover, .chosen-container-multi .chosen-choices:hover, .chosen-container-multi .chosen-choices:focus{border-color: #95aac9;}
.cstm-select-box select{font-size: 13px; padding: .375rem .50rem;}
select{color:#3e4676;}
select option{color:#3e4676;}
select option:first-child{color:#95aac9;}

.cstm-select-box::after{color: #95aac9;}
.chosen-container-multi .chosen-choices .search-choice{color: #95aac9;border-color: #eaeef4;background-color: #eaeef4; font-size: 13px;}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close{top: .45rem;}

.dropdown-item{color:#3e4676;}

.rc-list-RC-title-product-block .badge{position: relative; top: -3px;}
.orders-content-block{margin: 0 0 20px 0;border: 1px solid #d3e0e9;}
.orders-content-head-block{border-bottom:1px solid #d3e0e9;background: #f7f8fc;}
.dropdown-item{padding: .25rem .8rem;}
.cstm-dropdown-select .dropdown-menu li a{font-size: 13px;}

.faq-block a[aria-expanded="true"]{font-weight: 400;}
.faq-block .accordion .card-header{border:1px solid #d3e0e9; padding: 15px 40px 15px 20px !important;background: #f7f8fc !important;}
.faq-block .accordion .collapse, .faq-block .accordion .collapsing{padding: 0; border: 1px solid #d3e0e9; border-top: 0;}
.faq-block .accordion .mb-0{margin-bottom: 15px !important;}
.faq-block .accordion h5.mb-0{margin-bottom: 0 !important; font-size: 15px;}
.faq-block .accordion h5 .link{width: 100%; display: block; color: #3e4676}
.faq-block .accordion .card-body{padding: 15px 20px !important; color: rgba(62,70,118,0.60);}
.faq-block .accordion h5 .link, .faq-block .accordion h5 .link.collapsed{position: relative;}
.faq-block .accordion h5 .link:before{content: "-"; position: absolute; top: -7px; right: -19px; font-size: 26px; color: #3e4676; font-weight: 400;}
.faq-block .accordion h5 .link.collapsed:before{content: "+"; position: absolute; top: -2px; right: -20px; font-size: 20px; color: #3e4676; font-weight: 400;}

.user_menu, .cartdropdown_detail, .more_notification{background: #fff; box-shadow: 0 18px 35px rgba(50,50,93,.1),-1px 0 15px rgba(0,0,0,.07);border: 1px solid #d3e0e9;}
.user_menu::before, .cartdropdown_detail::before, .more_notification::before{display: none;}
.user_menu a{border-bottom: 1px solid #edf2f9;}
.user_menu a:hover{color: #353d6b}
.nav-cart-item, .more_notification ul li, .notification_footer a{border-top: 1px solid #edf2f9;}
.more_notification ul li a i{left: 1px;color: #f2545b;}
.more_notification ul li a:hover, .more_notification ul li a:hover span, .notification_footer a:hover{color: #353d6b}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(0,0,0,0.2);}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:rgba(0,0,0,0.5);}
.faq-block .card{border: 0; padding: 0;}
.faq-block .card-body{padding: 0;}
.my-profile-details-block, .my-profile-form-block{margin: 0;border: 1px solid #d3e0e9;}

.contact-detail-block, .bank-detail-block, .address-detail-block{border: 1px solid #d3e0e9;background: #f7f8fc;}
.map-content-block{border: 5px solid #e3ebf6;}
.download-search-block{margin-bottom: 20px;}
.upload-bill-block .file-browse .button-browse{background: none;color: #3e4676;border-left: 1px solid #d3e0e9;}
.report-search-block input[type="text"]{border: 1px solid #d3e0e9;}
.report-search-block button{border: 1px solid #d3e0e9;background: #f7f8fc; color: #3e4676;}
.order-list-block{border-color: #d3e0e9;}
.order-list-head-block{border-bottom:1px solid #d3e0e9;background: #f7f8fc;}
.order-list-middle-top-block .table tbody tr td, .ordlst-table-block .table tbody tr td{border-bottom:1px solid #d3e0e9;}
.order-status{float: right; margin-top: 12px;}
.order-list-block.cancel-order{border-color: rgba(242,84,91,0.4);}
.order-list-block.cancel-order .order-list-head-block{background: rgba(242,84,91,0.08);}
.order-list-block.cancel-order .order-status{color: #f2545b;}

.order-list-block.success-order{border-color: rgba(0,204,153,0.4);}
.order-list-block.success-order .order-list-head-block{background: rgba(0,204,153,0.08);}
.order-list-block.success-order .order-status{color: #00cc99;}
.invoice-main-block{margin: 0;}
.invoice-head-block{border-bottom:1px solid #d3e0e9;}
.invoice-bottom-block .table{border: 1px solid #d3e0e9;}
.invoice-bottom-block .table thead th, .invoice-bottom-block .table tbody td, .invoice-bottom-block .table tfoot td{border-top: 1px solid #d3e0e9;}

#sidebar .sidebar-header{padding: 15px 0;float: left;width: 100%;}
#sidebar .sidebar-header h3 img {width: 140px;float: left;margin: 0 20px;}

.cstm-tooltip__item {white-space: normal;}

.tagLabel.badge-success{background: #eaeef4;color: #95aac9;}
.closelabel {color: #3e4676;}
.compose-message-editor-block .Editor-editor, .compose-message-editor-block .line-control-menu-bar, .compose-message-editor-block .line-control-status-bar{border: 1px solid #d3e0e9;}
.select-bank-detail{opacity: 0; visibility: hidden;}
.active .select-bank-detail{opacity: 1; visibility: visible;}
.bank-details-select .make-default-btn{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9; visibility: hidden; opacity: 0; white-space: nowrap;}
.bank-details-select:hover .make-default-btn{visibility: visible; opacity: 1;}
.bank-details-select.active .make-default-btn{visibility: hidden; opacity: 0;}
.customer-care-right-block h3{font-size: 16px; font-weight: 400; margin-bottom: 10px;}

/*nw090419*/
.Vehicle-edit-icon, .top-right-link-icon{font-size: 17px;line-height: 22px; padding: 3px 6px;}
.dropdown.cstm-dropdown-select{white-space: nowrap;}

.lightbox_overlay{position:absolute;top:0;left:0;background:#000;opacity:.8;z-index:999;cursor:pointer}
.lightbox{position:absolute;z-index:1000;overflow: hidden;}
.spinner{position:absolute;top:calc(50% - 25px);left:calc(50% - 25px);font-size:50px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite; color: #fff;}
@-webkit-keyframes spin {
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@keyframes spin {
from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}
.close-lightbox{position:absolute;color:#ccc;font-size:30px;cursor:pointer;z-index:1001; opacity: 0.8 !important;}
.close-lightbox:hover{opacity: 1 !important; text-shadow: none;}
.next_img{position:absolute;color:#ccc;font-size:40px;right:10px;cursor:pointer;z-index:1001;opacity:.9; display: none !important;}
.next_img:hover{opacity:1}
.prev_img{position:absolute;color:#ccc;font-size:40px;left:10px;cursor:pointer;z-index:1001;opacity:.9; display: none !important;}
.prev_img:hover{opacity:1}
.vehicle-img-block {position: relative; overflow: hidden;}
.vehicle-img-block img {position: absolute;width: auto;height: 100%;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: inherit;}
.lightbox img {width: auto !important; max-width: inherit; height: auto !important; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.product-list-contet-block{z-index: 2;}
.product-list-contet-block .deleted-product ul li{width: 100%; margin: 0;}
.product-list-contet-block .deleted-product ul li a{color: #3e4676;}
.proposal-pickup-address .vName a {color: #687ae8; text-decoration: underline;}
.proposal-pickup-address .cstm-tooltip__item{min-width: 240px; padding: 10px 20px;}
.proposal-pickup-address .cstm-tooltip__item span{font-size: 13px; line-height: 20px;}
.proposal-pickup-address .cstm-tooltip[data-direction="bottom"] .cstm-tooltip__item::after{left: 50%;}

.count-noti{padding: .2em .6em .3em; font-size: 13px; font-weight: 500; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em; position: absolute; right: 12px;}
.count-noti.bg-aqua{background-color: #19b5fe !important;}
.count-noti.bg-red{background-color: #f2545b !important;}
.count-noti.bg-purple{background-color: #7140d1 !important;}
.count-noti.bg-green{background-color: #00cc99 !important;}
.count-noti.bg-yellow{background-color: #f7bc06 !important;}
.count-noti.bg-dblue{background-color: #527cf9 !important;}
.count-noti.bg-mpinch{background-color: #12bfbb !important;}
/*nw090419 end*/
.input-group-text {font-size: 12px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.brd-rds-rit{border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;}
.mp_note_block {width: 100%; display: inline-block; text-align: left; margin-bottom: 10px; margin-left: 0; margin-top: 5px;}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {position: relative; z-index: 2; cursor: pointer; white-space: nowrap;}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {visibility: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; pointer-events: none;}
/* Position tooltip above the element */
[data-tooltip]:before {position: absolute; bottom: 120%; left: 50%; transform: translateX(-50%); padding: 5px 10px; width: auto; border-radius: 3px; background-color: #000; background-color: hsla(0, 0%, 20%, 0.9); color: #fff; content: attr(data-tooltip); text-align: center; font-size: 12px; line-height: 1.2;}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {visibility: visible; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;}

.bid-rate-dropdown ul.dropdown-menu, .edit-bill-ddblk ul.dropdown-menu {min-width: 20rem; padding: 15px;}
.bid-rate-dropdown a .dropdown-label, .edit-bill-ddblk a .dropdown-label{color: #687ae8;}
.bid-rate-dropdown a:hover .dropdown-label, .edit-bill-ddblk a:hover .dropdown-label{color: #3e4676;}

.viw-bill-ddblk ul.dropdown-menu{min-width: 20rem; max-width: 40rem; padding: 5px;}
.dis-inline-block{display: inline-block;}
.adm-info-ddblk ul.dropdown-menu{min-width: 20rem; max-width: 40rem; padding: 10px 15px;}
.adm-info-ddblk ul.dropdown-menu li p{font-size: 13px; white-space: normal; line-height: 22px; margin-bottom: 0;}
.adm-info-ddblk a:hover{color: #fff !important;}

.filter-dd-block {display: flex; align-items: center;}
.filter-dd-block span{width: 75px;}
.pd-l-5{padding-left: 5px;}
.pd-r-5{padding-right: 5px;}
.pd-lr-5{padding-left: 5px; padding-right: 5px;}
.avlbl-sswich label{width: auto;}
.avlbl-sswich label.wid-120{width: 120px;}
.adm-info-ddblk .site-button{margin: 0 !important;}

/*on off switch css2 start*/
.avlbl-sswich .cstm-css-checkbox{position: relative; top: -4px; right: -10px;}
.avlbl-sswich .verified-switch-btn .new-switch {display: block;margin: 3px auto;}
.avlbl-sswich .new-switch1 {position: relative;text-align: center;display: inline-block;vertical-align: top;width: 60px;height: 24px;padding: 3px;background-color: white;border-radius: 12px;cursor: pointer;}
.avlbl-sswich .actiondropdownClick .site-button.action-btn.button-smm{padding: 5px; float: none;}
.avlbl-sswich .new-switch1 .switch-input {position: absolute;top: 0;left: 0;opacity: 0;}
.avlbl-sswich .new-switch1 .switch-label {position: relative;display: block;height: inherit;font-size: 10px;text-transform: uppercase;background: #dfe0e2;border-radius: inherit;-webkit-transition: 0.15s ase-out;-moz-transition: 0.15s ease-out;-o-transition: 0.15s ease-out;transition: 0.15s ease-out;-webkit-transition-property: opacity background;-moz-transition-property: opacity background;-o-transition-property: opacity background;transition-property: opacity background;}
.avlbl-sswich .new-switch1 .switch-label:before, .new-switch1 .switch-label:after {position: absolute;top: 50%;margin-top: -.50em;line-height: 1;-webkit-transition: inherit;-moz-transition: inherit;-o-transition: inherit;transition: inherit;}
.avlbl-sswich .new-switch1 .switch-label:before {content: attr(data-off);right: 5px;color: #a2a6a9;text-shadow: none;font-size: 12px; font-weight: 400;}
.avlbl-sswich .new-switch1 .switch-label:after {content: attr(data-on);left: 8px;color: white;text-shadow: none;opacity: 0; font-size: 12px; font-weight: 400;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label {background: #66acbd;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label:before {opacity: 0;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label:after {opacity: 1;}
.avlbl-sswich .new-switch1 .switch-handle {position:absolute; top:6px; left:6px; width:18px;height: 18px;background: white;border-radius: 9px;-webkit-transition: left 0.15s ease-out;-moz-transition: left 0.15s ease-out;-o-transition: left 0.15s ease-out;transition: left 0.15s ease-out;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-handle {left: 36px;}
.avlbl-sswich .switch-green > .switch-input:checked ~ .switch-label {background: #50bd5c;}
.avlbl-sswich .verified-switch-btn .new-switch1{margin: 0 auto;}
/*on off switch css2 end*/

.adm-info-ddblk ul.dropdown-menu li h3 {font-size: 16px; white-space: normal; line-height: 22px; margin-bottom: 5px; font-weight: 500; border-bottom: 1px solid #dce9f8; padding-bottom: 5px;}
.vehical-edit-icon, .top-right-link-icon {font-size: 14px; line-height: 18px; padding: 3px 6px; position: absolute !important; top: 10px; right: 10px; text-align: center;}
span.vTitle {font-weight: 500;}

.contact-detail-block p, .bank-detail-block p, .address-detail-block p {font-size: 13px; color: rgba(62,70,118,1); font-weight: normal; margin: 0 0 6px 0;}
.bank-detail-block p span.vTitle {font-weight: normal;}

.location_field {position: relative;width: 100%;display: flex;}
.location_field .umcl-btn {position: relative; top: 0; right: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; padding: 8px 18px; width: 100%; max-width: 200px;}

.str {color: red;}

/*09042019*/
@media (max-width:1373px) {
    .small-box > .inner{padding: 10px 15px;}
    .small-box{min-height: 120px;}
    .comn-table .table th, .comn-table .table td, .comn-table1 .table td, .comn-table1 .table th{font-size: 13px;padding: 10px 8px; letter-spacing: 0;}
    .Vehicle-list-contet-block ul li{padding-right: 10px;}
    .Vehicle-list-contet-block ul li p{font-size: 13px;padding: 0 0 5px 0;}
}
/*09042019-end*/

@media (max-width:1300px){
    #sidebar .sidebar-header{padding: 19px 0;}
    #sidebar .sidebar-header h3 img{width: 120px;margin: 0 12px;}
}

@media (max-width:1199px){
    .comn-table1 .table td, .comn-table1 .table th{padding: 10px 7px;letter-spacing: 0; white-space: nowrap;}
    .comn-table1 .table td{vertical-align: middle;}
}

@media (max-width:991px){
    .small-box{margin-bottom: 20px;}
    .comn-table .table th, .comn-table .table td{white-space: nowrap;vertical-align: middle;}
    .comn-table .table td:last-child a{margin: 1px 0;}
}

@media (max-width:767px){
    .nw-theme .main-title{font-size: 20px;margin-bottom: 20px;}
    .bg_dark{height: 120px;}
    .nw-theme .middle-container-wrap{margin-top: -110px;}
    .nw-theme .breadcrums{margin: 30px 0 15px 0;}
    .small-box h3{font-size: 24px;}
    .small-box p{font-size: 13px;}
    .small-box > .small-box-footer{padding: 5px 10px;}
    .nw-theme .breadcrums, .nw-theme .breadcrums a{font-size: 14px;}
    .nw-theme .sub-title{font-size: 15px;padding: 6px 0;}
    .wht-tble-bg{padding: 15px;}
    .site-button, .site-button-secondry{padding: 5px 10px;font-size: 13px;}
    .site-button.button-sm{padding: 3px 5px;font-size: 11px;}
    .Vehicle-edit-icon, .top-right-link-icon{top: 5px; right: 5px;}
    .Vehicle-list-contet-block ul li .vehicle-img-block{width: 60px;height: 60px;}
    footer.px-4{padding-left: 0 !important; padding-right: 0 !important;}
    .flag{top: 50%;transform: translateY(-50%);}
    .et-dynamic-add-btn-block h2{font-size: 13px;}
    .faq-block .accordion .card-header{padding: 10px 30px 10px 15px !important;}
    .faq-block .accordion h5 .link::before{top: -9px;}
    .faq-block .accordion h5.mb-0{font-size: 14px;}
    .customer-care-right-block h3{font-size: 14px;}
}

@media (max-width:420px){
    .my-profile-details-block strong{position: relative; float: left; width: 100%;}
    .my-profile-details-block p{padding-left: 0;}
}

@media (max-width:330px){
    .rc-list-RC-title-product-block .badge{position: relative; top: 5px;}
}
/* align center login box in crome after update */
/* .lsf-main-block .middle-container-wrap {
    top: 50vh;
    margin-bottom: 0;
} */
.document_box {
    border: 1px solid #0E75CD;
    padding: 5px 15px;
    font-size: 12px;
    /* min-width: 120px; */
    border-radius: 50px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #0E75CD;
    display: inline-block;
}
.document_box.docfile {
    border-color: #388E3C;
    color: #388E3C;
}
.document_box.pdffile {
    border-color: #F55D5D;
    color: #F55D5D;
}
.document_box i {
    color: #0E75CD;
}
.document_box.docfile i {
    color: #388E3C;
}
.document_box.pdffile i {
    color: #F55D5D;
}
/* Bhumit changes 22-07-2020 */
.mapnote {
    background: #aef2e1;
    color: #07785c;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}
.cstm-select-box select {
    padding-right: 30px;
    height: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.cstm-select-box:after {
    width: 12px;
    height: 18px;
    content: "";
    background-image: url(../images/down-arrow.png);
    pointer-events: none;
    background-position: center center;
    background-repeat: no-repeat;
    top: 10px;
    z-index: 9;
}
.cstm-select-box select::-ms-expand {
    display: none;
}
.my-profile-block {
    max-width: 700px;
}
.my-profile-details-block p {
    word-break: break-all;
    display: inline-block;
    width: 100%;
    min-height: 22px;
}
.driver-img-block img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.driver_opration_btn {
    position: absolute;
    top: 0;
    right: 0;
}
.driver_opration_btn .site-button {
    padding: 5px 13px;
}
.orders-table {
    overflow-y: auto;
    min-height: 400px;
}
/* .orders-table .table td {
	vertical-align: middle;
} */
.orders-table .table th {
	white-space: nowrap;
}
.edit-profile-btn {
    top: -8px;
}
label.error {
    color: red;
    font-size: 80%;
    margin-bottom: 0;
}
.form-control.error,
.form-control.error:focus {
    border-color: red;
}
.cstm-select-box select.error {
    border: 1px solid red;
    border-radius: 3px;
}
.form-group .single-search-select2 .chosen-container-single a.error {
    color: red !important;
    border: 1px solid red;
}
#content {
    min-width: 300px;
}
.comn-table.latest-order-table .table td:last-child span {
    display: block;
}
.small-box {
    padding-right: 60px;
}
.data-box-header-dropdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cust_datepicker_outer {
    display: flex;
    align-items: center;
}
.cust_datepicker {
    max-width: 150px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.cust_datepicker .form-control {
    padding-right: 30px;
    border: 1px solid #D3E0E9;
    background-color: #fff;
}
.cust_datepicker:before {
    content: "";
    width: 12px;
    height: 18px;
    background-image: url(../images/down-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 9;
}
.cust_datepicker_outer .cstm-select-box {
    max-width: 120px;
    display: inline-block;
    width: 100%;
}
.pickup_address_new {
    white-space: normal;
    width: 200px;
}
.Vehicle-list-contet-block ul.vehicle_gallary li {
    width: 100%;
}
.top-right-edit-link {
    top: 0;
    right: 0;
}
.top-right-edit-link button.site-button,
.top-right-edit-link a.site-button {
    padding: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 31px;
}
/* form-control and select disabled color */
.cstm-select-box select:disabled {
    background-color: #f7f7f7;
    color: #868686;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #868686;
}
.cust_datepicker input::-webkit-input-placeholder {color:#151c44 !important;}
.cust_datepicker input::-moz-placeholder {color:#151c44 !important;}
.cust_datepicker input:-ms-input-placeholder {color:#151c44 !important;}
.cust_datepicker input:-moz-placeholder {color:#151c44 !important;}
.cust_datepicker .form-control[readonly] {
    color: #151c44;
}
/* form-control and select disabled color end */
.lightbox .spinner.fa-spinner:before {
    content: none;
}
/* form-control and select disabled color end */
.lightbox .spinner.fa-spinner:before {
    content: none;
}
/* selectbox 2 font size */
.form-group .chosen-container .chosen-results li {
    font-size: 13px;
}
.form-group .chosen-container-single .chosen-single span {
    font-size: 13px;
}
/* alert error msg */
.alert-danger {
    text-align: center;
}
/* profile edit btn */
.my-profile-content-block .edit-profile-btn {
    top: 0;
}
/* Defult selectbox color */
.cstm-select-box select {
    color: #151c44;
}
/* table titel green and rad color */
.orders-table .table .tble_heding_color_red {
    color: red;
}
.orders-table .table .tble_heding_color_green {
    color: green;
}
.trip_driver_tbl {
    /* border-top: 2px solid #d3e0e9; */
    padding: 20px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
}
/* New register form */
.register_addres_stap .ls-content-block {
    max-width: 850px;
}
.wrapper {
    position: relative;
}
/* order detail view bill dropdown */
.order_dtl_action ul.dropdown-menu {
    padding: 0;
}
.order_dtl_action>.dropdown-menu>li {
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 10px 155px 10px 10px;
    position: relative;
}
.order_dtl_action .dropdown-menu li a.dropdown-item {
    color: #0E75CD;
    padding: 0;
    display: inline-block;
    width: auto;
}
.order_dtl_action .dropdown-menu li a.docfile {
    color: #388E3C;
}
.order_dtl_action .dropdown-menu li a.pdffile {
    color: #9E0A0B;
}
.order_dtl_action .dropdown-menu li a i.fa-times-circle {
    color: red;
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 16px;
    z-index: 99;
}
.order_dtl_action.open>.dropdown-menu {
    cursor: unset;
}
.acept_rej_btn {
    position: absolute;
    top: 8px;
    right: 10px;
}
.acept_rej_btn span {
    cursor: pointer;
}
/* ========== Tracking popup ============ */
#order-track .modal-dialog {
    max-width: 1200px;
}
/*track1 start*/
.track-process-step1 {float: left; width: 100%; margin: 0; padding: 0;}
.progress{list-style:none;margin:0;padding:20px 0;display:table;table-layout:fixed;width:100%;color:#849397; background: #f3f3f3; border: 1px solid #eaeaea; border-top: 0;}
.progress > li{position:relative;display:table-cell;text-align:center;font-size: 14px;font-weight: 500;}
.progress > li:before{content:attr(data-step);display:block;margin:0 auto;background:#DFE3E4;width:3em;height:3em;text-align:center;margin-bottom:.25em;line-height:3em;border-radius:100%;position:relative;z-index:5}
.progress > li.is-complete:before{content:'\f00c'; font-family: "FontAwesome";}
.progress > li:after{content:'';position:absolute;display:block;background:#DFE3E4;width:100%;height:.5em;top:1.25em;left:50%;margin-left:1.5em\9;z-index:0}
.progress > li:last-child:after{display:none}
.progress > li.is-complete{color:#2ECC71}
.progress > li.is-complete:before,.progress > li.is-complete:after{color:#FFF;background:#2ECC71}
.progress > li.is-active{color:#3498DB}
.progress > li.is-active:before{color:#FFF;background:#3498DB}
.progress > li.is-inactive{color:#e64949}
.progress > li.is-inactive:before{color:#FFF;background:#e64949}
.progress > li.is-inactive:before{content:'\f00d'; font-family: "FontAwesome";}
.progress__last:after{display:none!important}
.progress--medium{font-size:1.5em}
.progress--large{font-size:2em}
.progress{margin-bottom:1em}
/*track1 end*/
.truck-number-text {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0;
    color: #555;
}
.ordlst-id-block {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 3px;
}
.track-details-block table {
    margin-bottom: 0;
    border: 1px solid #eaeaea;
}
.track-details-block table thead tr th {
    background: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}
.track-details-block table tbody tr td {
    font-size: 14px;
    color: #1c1105;
    text-align: center;
    width: 33.33%;
}
.custom_timer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #687ae8;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    max-width: 125px;
}
.custom_timer ul li {
    width: 40px;
    text-align: center;
    position: relative;
}
.custom_timer ul li::after {
    content: ":";
    position: absolute;
    right: 0;
}
.custom_timer ul li:last-child::after {
    content: none;
}
/* ========== Tracking popup ============ */

/* order detail 23-03-2021 */
.tm_info_dropdown .dropdown-toggle::after {
    content: none;
}
.tm_info_bx h4, .custom_rmc_bx h4 {
    font-weight: 700;
    margin-bottom: 10px;
}
.tm_info_list {
    font-size: 13px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.tm_info_list span {
    min-width: 150px;
}
.tm_info_dropdown .dropdown-menu {
    padding: 10px;
    border-radius: 0;
}
.tm_info_dropdown.open>.dropdown-menu {
    right: auto;
    left: 0;
}
.custom_rmc_dropdown .dropdown-menu {
    min-width: 450px;
}
.custom_rmc_info {
    background-color: #FAFAFA;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}
.custom_rmc_info h5 {
    color: #DC3839;
    margin-bottom: 10px;
}
.custom_rmc_info p {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 5px;
}
.custom_rmc_dec p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 18px;
}
.custom_rmc_dec p b {
    display: block;
    margin-bottom: 5px;
}
/*======== order detail over ==========*/
.edit_unawail_btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.edit_unawail_btn .site-button {
    font-size: 14px;
    line-height: 18px;
    padding: 3px 6px 1px 6px;
    text-align: center;
}
.tm_unawail_popup_list {
    display: inline-block;
    width: 100%;
}
.unawail_date_bx {
    border: 1px solid #3e4676;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    padding-right: 70px;
    position: relative;
}
.tm_time_action {
    position: absolute;
    top: 0px;
    right: 0;
}
.tm_time_action a {
    display: inline-block;
    padding: 4px 5px;
    margin-right: 5px;
    color: #000;
    font-size: 16px;;
}
.add-bank-detail-block a span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
    padding: 4px;
    color: #000;
}
.bank-detail-block p {
    padding: 0;
    margin: 0;
}
.bank-detail-block p a {
    display: inline-block;
    width: 100%;
}
.bank-detail-block p img {
    min-width: 100%;
    min-height: 100%;
}
.design_mix_bx .bank-detail-block {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.design_mix_bx .bank-detail-block span {
    font-size: 30px;
    font-weight: 700;
}
.design_mix_popup_bx .custom_rmc_bx {
    border: 1px solid #111;
    position: relative;
}
#sidebar ul li a {
    transition: none;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
#sidebar ul li a i {
    transition: none;
}
.alert {
    border-radius: 0;
}
.rate_setting_block {
    display: inline-block;
    width: 100%;
}
.rate_setting_bx {
    padding: 15px;
    padding-right: 100px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.1);
    background-color: #fff;
    position: relative;
    max-width: 500px;
}
.mixer_rate_box {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}
.mixer_rate_box .rate_setting_bx {
    padding: 15px;
}
.rate_setting_bx h4 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}
.rate_setting_bx .avlbl-sswich {
    position: absolute;
    top: 16px;
    right: 20px;
}

.custom_timer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #687ae8;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}
.custom_timer ul li {
    width: 40px;
    text-align: center;
    position: relative;
}
.custom_timer ul li::after {
    content: ":";
    position: absolute;
    right: 0;
}
.custom_timer ul li:last-child::after {
    content: none;
}
.resend_otp_div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}
.resend_otp_div button:hover {
    text-decoration: underline;
}
.titel_wit_swich {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.titel_wit_swich .avlbl-sswich label {
    color: #fff;
    padding: 0;
    margin-right: 15px;
}
.titel_wit_swich .avlbl-sswich {
    margin-bottom: 5px;
}
.titel_wit_swich .avlbl-sswich .cstm-css-checkbox {
    top: -2px;
    right: 0;
}
.titel_wit_swich .avlbl-sswich .new-switch1 .switch-handle {
    top: 3px
}
.minw140 {
    min-width: 140px;
}
.chart_checkbox {
    align-items: center;
    width: 100%;
    justify-content: center;
}

.pretty_checkbox {
    display: flex;
    margin: 0 10px 10px 10px;
}
.pretty_checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    cursor: pointer;
}
.pretty_checkbox label {
    position: relative;
    cursor: pointer;
}
.pretty_checkbox label:before {
    content:'';
    -webkit-appearance: none;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.check_blue label:before {
    background-color: #008ffb;
}
.check_green label:before {
    background-color: #00e396;
}
.check_yellow label:before {
    background-color: #feb019;
}
.pretty_checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.mixer_rate_box .sub-title {
    font-size: 20px;
}
.custom-map-control-button {
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 24px;
    color: #666;
}
.pagination .site-button {
    margin-left: 10px;
}
.text_box_icon {
    position: relative;
    width: 100%;
}
.text_box_icon .form-control {
    padding-right: 30px;
}
.text_box_icon i.fa {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* =================== Support tickit start ====================== */
.msg_support_ticket {
    max-width: 870px;
    margin: 0 auto;
}
.msg_support_ticket .sub-title-block {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.msg_support_ticket .correspondence-reply-block {
    display: inline-block;
    width: 100%;
}
.msg_support_ticket .chat-area .chats .chat .chat-body .chat-tms-details {
    display: flex;
    align-items: center;
}
.msg_support_ticket .chat-area .chats .chat .chat-body .chat-tms-details h5 {
    font-size: 15px;
    padding-right: 4px;
    text-transform: capitalize;
}
.msg_support_ticket .chat-area .chats .chat .chat-body .chat-tms-details p {
    font-size: 12px;
}
.msg_support_ticket .chat-area .chats .chat .chat-body .chat-text {
    background-color: #C9F7F5;
    color: #7E8299;
    margin-top: 3px;
    max-width: 500px;
}
.msg_support_ticket .chat-area .chats .chat.chat-right .chat-body .chat-text {
    background-color: #E1F0FF;
    text-align: right;
}
.msg_support_ticket .et-attachment-block {
    padding: 0;
    padding-top: 10px;
}
.msg_support_ticket .et-attachment-block h3 {
    font-size: 13px;
}
.msg_support_ticket .et-attachment-block ul li {
    width: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.msg_support_ticket .mailbox-attachment-info {
    background-color: #fff;
}
.msg_support_ticket .mailbox-attachment-name {
    font-weight: normal;
    font-size: 12px;
}
.fileuploader-input-caption {
    color: #151c44;
    font-weight: 400;
    font-size: 13px;
}
.fileuploader-input-button {
    font-weight: 400;
    font-size: 13px;
}
.how-it-block {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 30px 0 30px !important;
}
.how_it_tital {
    text-align: center;
}
.how_it_tital h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.how_bx {
    display: flex;
    align-items: flex-start;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 30px 20px;
    margin-bottom: 30px;
    position: relative;
}
.arrow_cust_right:before {
    content: "\f061";
    font-family: 'FontAwesome';
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    color: #ddd;
}
.arrow_cust_btm:before {
    content: "\f063";
    font-family: 'FontAwesome';
    font-size: 25px;
    position: absolute;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);
    color: #ddd;
}
.arrow_cust_left:before {
    content: "\f060";
    font-family: 'FontAwesome';
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: -27px;
    transform: translateY(-50%);
    color: #ddd;
}



/* .arrow_cust_right:before, .inarrow_cust_right:after,
.arrow_cust_btm:before, .inarrow_cust_btm:after,
.arrow_cust_left:before, .inarrow_cust_left:after {
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #687aea;
    transform: rotate(45deg);
} */


/* .arrow_cust_right:before {
    border-left: 0;
    border-bottom: 0;
    background-color: #f3f3f3;
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -20px;
    z-index: 2;
}
.inarrow_cust_right:after {
    border-left: 0;
    border-bottom: 0;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -20px;
    z-index: 1;
}

.arrow_cust_btm:before {
    border-left: 0;
    border-top: 0;
    background-color: #f3f3f3;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
}
.inarrow_cust_btm:after {
    border-left: 0;
    border-top: 0;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    z-index: 1;
}

.arrow_cust_left:before {
    border-right: 0;
    border-top: 0;
    background-color: #f3f3f3;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -20px;
    z-index: 2;
}
.inarrow_cust_left:after {
    border-right: 0;
    border-top: 0;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -20px;
    z-index: 1;
} */

.how_left {
    background-color: #687aea;
    font-size: 22px;
    height: 65px;
    width: 65px;
    min-width: 65px;
    line-height: 65px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
}
.how_right {
    padding-left: 20px;
}
.how_right h2 {
    margin-bottom: 15px;
}
.how_right p {
    margin-bottom: 15px;
}
.how_right a {
    text-decoration: underline;
}
.login_logo {
    position: relative;
    padding: 20px;
    display: inline-block;
}
.timer_otp {
	color: #687ae8 ;
	font-weight: 500;
}
.table td .button-sm {
    margin-bottom: 3px;
}
.user_icon a.userdropdownClick {
    display: inline-block;
    padding-right: 15px;
}
.user_icon a.userdropdownClick:before {
    content: "\f0d7";
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 16px;
    color: #000;
    font-family: 'FontAwesome';
}
.header_com_name_outer {
    display: inline-block;
}
.header_com_name_outer span {
    display: inline-block;
    margin-top: 2px;
}
.header_com_name {
    font-weight: 500;
}
/* =================== Support tickit over ====================== */
.comn-table .table tr.tr_heading th {
    text-align: center;
    border: 1px solid #cad9e3;
}
.comn-table .table tr.tr_heading th:first-child {
    border-left: 0;
}
.comn-table .table tr.tr_heading th:last-child {
    border-right: 0;
}


.how_flow_text h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
.how_flow_text p {
    font-size: 14px;
}
.how_flow_bx {
    display: flex;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
}
.how_flow_text {
    flex: 1 0 0%;
    padding-right: 15px;
    padding-left: 15px;
}
.how_flow_img {
    flex: 1 0 10%;
    text-align:center;
    padding-right: 15px;
    padding-left: 15px;
}
.how_flow_img_small img {width: 50%;}
.how_flow_bx_seprator {
    display: flex;
    align-items: center;
    justify-content: center;
}
.how_flow_bx_seprator img {
    max-width: 100%;
    width: 51%;
}
.how_flow_bx_seprator_ltr img {
    transform: rotateY(180deg);
}
.note_font {
    font-size: 13px;
}

.empty_stock_bx .stock-block .box-li li {
    padding-right: 0;
}
.empty_stock_bx .stock-content-block {
    display: inline-block;
    padding-left: 0;
}
.empty_stock_bx .box-li {
    width: 100%;
}
.empty_stock_bx .stock-block {
    height: 200px;
    overflow: auto;
}
.verify_un_image img {
    width: 85px;
}
.cust_datepicker_100 {
    position: relative;
    max-width: 100%;
}

.range_picker {
    position: relative;
}
.range_picker .form-control {
    padding-right: 35px;
}
.range_picker i {
    position: absolute;
    top: 11px;
    right: 10px;
}
.report_table {
	overflow: auto;
}
.report_table th {
	white-space: nowrap;
}

@media screen and  (min-width: 992px) and (max-width : 1300px) {
    .small-box h3 {
        font-size: 20px;
    }
}
@media screen and (max-width : 991px) {
    .customer-sidebar-support-left-block h3 {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width : 767px) {
    footer.bg-gray {
        text-align: center;
    }
    .customer-sidebar-support-left-block {
        padding-left: 0;
        width: 100%;
    }
    footer.bg-gray aside {
        width: 100%;
    }
    .login-signup-modal-block .ls-content-block {
        margin: 0 auto;
    }
}
@media screen and (max-width:520px) {
	.reports_block {
		column-count: 1;
	}
}
@media (max-width: 420px) {
    .progress > li{font-size: 12px;}
}

