#button{
	display:block;
	margin:20px auto;
	padding:10px 30px;
	background-color:#eee;
	border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}

.invalid-feedback{display:block;}

.error{color:red !important;}

.modal{
    z-index: 20;   
}

.modal-backdrop{
	z-index: 10 !important;
}

.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag{

	height: 35px;

}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 100%;
	color: #dc3545;
}



.select2-container .select2-choice{background-image:none!important;border:none!important;height:auto!important;padding:0!important;line-height:22px!important;background-color:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important}
.select2-container .select2-choice .select2-arrow{background-image:none!important;background:transparent;border:none;width:14px;top:2px;right:5px}
.select2-container .select2-container-multi.form-control{height:auto}
.select2-results .select2-highlighted{background-color:#626ed4}
.select2-drop-active{border:1px solid #e3e3e3!important;padding-top:5px;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.15);box-shadow:0 2px 2px rgba(0,0,0,0.15)}
.select2-search input{border:1px solid #e3e3e3}
.select2-container-multi{width:100%}
.select2-container-multi .select2-choices{border:2px solid rgba(255,255,255,0.2)!important;-webkit-box-shadow:none!important;box-shadow:none!important;background:transparent!important;background-image:none!important;border-radius:4px!important;min-height:34px}
.select2-container-multi .select2-choices .select2-search-choice{padding:6px 8px 7px 19px;margin:5px 0 3px 5px;background:#f4f7Fa;border:none;-webkit-box-shadow:none;box-shadow:none}
.select2-container-multi .select2-choices .select2-search-field input{padding:7px 7px 7px 10px;font-family:inherit}
.select2-container-multi .select2-choices .select2-search-choice-close{top:6px}
.select2-chosen{line-height:34px;padding-left:15px;color:#444}


span.selection{

	display: block;

}