a,button{transition:all .3s ease}
#sidebar{background:#212841}
#sidebar ul li a{color: rgba(255,255,255,.5);}
#sidebar ul li a:hover,#sidebar ul li.active a{background:none;color:#fff;border-left: 2px solid transparent;}
.NW-sidebar-wrapper .NW-sidebar-menu .NW-sidebar-dropdown .NW-sidebar-submenu ul{background: #1c2237;}
#sidebar ul li.active .NW-sidebar-submenu ul li a{color: rgba(255,255,255,.5);}
#sidebar ul li.active .NW-sidebar-submenu ul li.subActive a{color: rgba(255,255,255,1);}
#sidebar .sidebar-header{background:transparent}
.toggle_btn{color:#28304e!important}
.toggle_btn:hover,.btn-dark:not(:disabled):not(.disabled):active,.btn-dark:not(:disabled):not(.disabled):active:focus{color:#28304e!important}
.notification a.notificationClick,.cartdropdown a.cartdropdownClick{color:#425083}
.note_badge{background:#f2545b}
.user_icon span{color:#28304e}
.navbar{background:#fff}
.bg_dark{background:#28304e; height: 150px;}
.content_wrap_section{width:70%;margin:-98px auto 0;padding:0}
.site-button.gray:hover,.site-button.gray:active,.site-button.gray:focus{background:#28304e}
.table_main_section{background:#fff;border-radius:5px;padding-top:16px;box-shadow:0 2px 4px rgba(126,142,177,.12);transition:box-shadow ease .2s}
.table_main_section:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
#content{background:#f4f7fc;}
.main-title{font-size:16px;color:#fff;margin-bottom:36px;width:auto;position:relative;top:7px}
.main-title span{color:#fff;opacity:.75}
#sidebar .sidebar-header{background:#1c2237}
.site-button.outline.gray{color:#343434;border-color:transparent;background:#fff}
.site-button.outline.gray:hover{color:#343434!important;background-color:#f9fbfd}
.comn-table1 .table th{color:#95aac9;letter-spacing:.8px}
.comn-table1 .table thead{background:#e8f1fb}
.comn-table1 .table{border:1px solid #dce9f8;border-left:none;border-right:none}
.comn-table1 .table td,.comn-table1 .table th{border-bottom:1px solid #dce9f8;border-top:0 solid #dce9f8;padding:10px 15px; color: #212841; font-weight: 400; letter-spacing: 0.2px;}
.comn-table1 .table td{color:#151c44}
.comn-table1 .table tbody tr:hover{background-color:#f9fbfd}
.table_subheading{padding:0;caption-side:top;padding-bottom:20px;font-size:18px;color:#151c44}
.content_wrap_section.full_width{width:98%;margin:-98px auto 112px}
.sub_title{font-size:18px;line-height:22px;color:#151c44}
.notification,.cartdropdown{margin:0 0 0 22px}
.user_icon{margin-left:40px}
.nw-theme .middle-container-wrap{margin-top:-132px}
.nw-theme .mini-middle-container-wrap{max-width: 940px;margin-left: auto;margin-right: auto;}
.nw-theme .main-title{font-size:22px;margin-bottom:30px;border-bottom:none}
.nw-theme .breadcrums, .nw-theme .breadcrums a{font-size: 15px;color: #fff;width: auto;position: relative; margin: 29px 0 30px 0;}
.nw-theme .breadcrums span{opacity: 0.7;}
.nw-theme h2{color:#151c44; font-weight: 500;}
.et-dynamic-add-btn-block h2{font-weight: 400; font-size: 14px;}
.nw-theme .data-box{border-radius:5px;box-shadow:0 2px 4px rgba(126,142,177,.12);border:none;transition:box-shadow ease .2s; padding: 0 20px;}
.nw-theme .data-box:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
.nw-theme .data-box-header.with-border{border-bottom:none}
/**/
.bg-white{background: #fff;}
.small-box{border-radius: 5px; box-shadow:0 2px 4px rgba(126,142,177,.12); transition: 0.3s all ease-in-out;}
.small-box > .small-box-footer{background: none;color: #151c44;text-align: right;padding: 5px 15px}
.small-box .icon{width: 50px;height: 50px;border-radius: 100%;background: #f00;transform: translateY(-70%);top: 50%;right: 15px; font-size: 20px; text-align: center; line-height: 46px;}
.small-box:hover .icon{font-size: 20px;}
.small-box .icon.bg-aqua{background-color: rgba(25,181,254,0.20) !important; color: #19b5fe !important;}
.small-box .icon.bg-red{background-color: rgba(242,84,91,0.20) !important; color: #f2545b !important;}
.small-box .icon.bg-purple{background-color: rgba(113,64,209,0.20) !important;color: #7140d1 !important;}
.small-box .icon.bg-green{background-color: rgba(0,204,153,0.20) !important;color: #00cc99 !important;}
.small-box .icon.bg-yellow{background-color: rgba(247,188,6,0.20) !important; color: #f7bc06 !important;}
.small-box .icon.bg-dblue{background-color: rgba(82,124,249,0.20) !important; color: #527cf9 !important;}
.small-box .icon.bg-mpinch{background-color: rgba(18,191,187,0.20) !important;color: #12bfbb !important;}
.small-box .icon.bg-dgray{background-color: rgba(40,48,78,0.20) !important;color: #28304e !important;}
.small-box h3{color: #151c44; font-weight: 600; margin-bottom: 0;}
.small-box p{color: #151c44; font-size: 14px; margin-bottom: 0;}
.small-box:hover{box-shadow:0 5px 12px rgba(126,142,177,.7)}
.comn-table .table th, .comn-table .table td{color: #151c44; padding: 10px 15px; border-bottom: 1px solid #dce9f8; vertical-align: middle;}
.comn-table .table th, .comn-table1 .table th{background: #e8f1fb;border-bottom: 2px solid #dce9f8;border-top: 1px solid #dce9f8; color: #212841; font-weight: 500; letter-spacing: 0;}
.comn-table .table td{padding: 15px;}
.data-box-header{padding: 15px 0;}
footer.bg-gray{background:#f4f7fc;}
.data-box-footer{border-top: 1px solid #edf2f9;}

.badge{height: 24px;font-size: 11px !important;line-height: 20px;min-width: 66px; letter-spacing: .2px;}
.badge.bg-red{background-color: #fcc5c7 !important; color: #da3038 !important;}
.badge.bg-green{background-color: #aef2e1 !important; color: #07785c !important;}
.badge.bg-yellow{background-color: #fbe69d !important;color: #a88106 !important;}
.badge.bg-grey{background-color: #d3dce9 !important;color: #456699 !important;}
.badge.bg-blue {background-color: #c3e3fb !important;color: #008ffb !important;}
.tc-nwblue{color: #687ae8;}
.tc-red{color: #f2545b;}
.comn-table .table td:last-child a{text-decoration: none;}
.comn-table .table td:last-child span{color: #c6c6c6;}
.page-link{color: #687ae8;}
.page-item.active .page-link{border-color: #687ae8;background-color: #687ae8;}
.pagination-block .pag-showing-text{color: #151c44;}
.page-link{border: 1px solid #e3ebf6;}
.page-item.disabled .page-link{color: #95aac9;border-color: #e3ebf6;}
.data-box-footer{padding: 15px 0;}

/*site button*/
.button-sm{padding:3px 5px;font-size:12px}
.site-button, .site-button-secondry{border-radius: 3px;border: 1px solid transparent; letter-spacing: 0.4px;}
.site-button{background-color:#687ae8}
.site-button:active,.site-button:hover,.site-button:focus,.active > .site-button{background-color:#475de3;color:#fff; box-shadow: none; outline: none;}
.site-button.gray{background-color:#95aac9;color:#fff}
.site-button.gray:hover,.site-button.gray:active,.site-button.gray:focus{background-color:#7c96bc;color:#fff !important}
.site-button.dark{background-color:#28304e;color:#fff}
.site-button.dark:hover,.site-button.dark:active,.site-button.dark:focus{background-color:#1b2035;color:#fff !important}
.site-button.green{background-color:#0c9;color:#fff}
.site-button.green:hover,.site-button.green:active,.site-button.green:focus{background-color:#00a67c;color:#fff}
.site-button.red{background-color:#f2545b;color:#fff}
.site-button.red:hover,.site-button.red:active,.site-button.red:focus{background-color:#ef3039;color:#fff}
.site-button.yellow{background-color:#f7bc06;color:#fff}
.site-button.yellow:hover,.site-button.yellow:active,.site-button.yellow:focus{background-color:#d2a005;color:#fff}
.site-button.ltblue{background-color:#19b5fe;color:#fff}
.site-button.ltblue:hover,.site-button.ltblue:active,.site-button.ltblue:focus{background-color:#01a4f0;color:#fff}

.site-button.outline{color: #687ae8;border-color: #687ae8;}
.site-button.outline:hover, .site-button.outline:focus{color:#fff !important; border-color: #687ae8; background-color: #687ae8;}
.site-button.outline.gray{color:#95aac9;border-color:#95aac9}
.site-button.outline.gray:hover, .site-button.outline.gray:focus{border-color:#95aac9;color:#fff !important; background-color: #95aac9;}
.site-button.outline.dark{color:#28304e;border-color:#28304e}
.site-button.outline.dark:hover, .site-button.outline.dark:focus{border-color:#28304e;color:#fff !important; background-color: #28304e;}
.site-button.outline.green{color:#0c9;border-color:#0c9}
.site-button.outline.green:hover, .site-button.outline.green:focus{border-color:#0c9;color:#fff !important; background-color: #0c9;}
.site-button.outline.red{color:#f2545b;border-color:#f2545b}
.site-button.outline.red:hover, .site-button.outline.red:focus{border-color:#f2545b;color:#fff !important; background-color: #f2545b;}
.site-button.outline.yellow{color:#f7bc06;border-color:#f7bc06}
.site-button.outline.yellow:hover, .site-button.outline.yellow:focus{border-color:#f7bc06;color:#fff !important; background-color: #f7bc06;}
.site-button.outline.ltblue{color:#19b5fe;border-color:#19b5fe}
.site-button.outline.ltblue:hover, .site-button.outline.ltblue:focus{border-color:#19b5fe;color:#fff !important; background-color: #19b5fe;}
.site-button-link.blue{color:#687ae8}
.site-button-link.blue:hover,.site-button-link.blue:active,.site-button-link.blue:focus{color:#475de3}
/*site button end*/
.site-button.gray span.dropdown-label{color: #fff !important;}
.button-browse{background-color: #95aac9;}
.button-browse:hover{background-color: #7c96bc;}

.new-switch .switch-label{background: #e6eaf0;}
.switch-green > .switch-input:checked ~ .switch-label{background: #0c9;}
.verifide-ad{color: #0c9;}

.text-white{color:#fff}
.text-primary{color:#687ae8;}
.text-secondry{color:#95aac9}
.text-black{color:#28304e}
.text-gray{color:#28304e}
.text-gray-medium{color:#202741}
.text-gray-dark{color:#1a2035}
.text-red{color:#f2545b}
.text-green{color:#0c9}
.text-yellow{color:#f7bc06}
.text-blue{color:#687ae8}
.text-light-blue{color:#52b4ee}

.wht-tble-bg{border-radius: 5px;box-shadow: 0 2px 4px rgba(126,142,177,.12);border: none;transition: box-shadow ease .2s;padding: 20px; background: #fff;}
.wht-tble-bg:hover{box-shadow:0 5px 12px rgba(126,142,177,.2)}
.sub-title-block{float: left; width: 100%; margin: 0 0 15px 0; padding: 0; position: relative;}
.nw-theme .sub-title{width: auto; font-size: 16px;padding: 5px 0;}
.nw-theme .sub-title span{font-weight: 600;}
.add-user-block .comn-table1 .table tr td span, .vehicle-category-block .comn-table1 .table tr td span{color: inherit;}

.comn-table .table tr:last-child td{border-bottom: 1px solid #dce9f8;}
.data-box-footer{border-top: 0px solid #edf2f9;}

.product-list-contet-block, .logs-email-contet-block, .bls-users-contet-block, .proposal-contet-block, .et-contet-block, .vehical-list-contet-block{border:1px solid #d3e0e9;}
.et-attachment-block{border-color: #d3e0e9;}
.product-list-title, .logs-email-title, .bls-users-title, .proposal-title{color: #151c44; margin-bottom: 10px;}
.product-list-contet-block ul li p, .logs-email-contet-block ul li p, .bls-users-contet-block ul li p, .proposal-contet-block ul li p, .et-field-data-block ul li p{color: rgba(62,70,118,0.80);}
.product-list-contet-block ul li p .vName, .logs-email-contet-block ul li p .vName, .bls-users-contet-block ul li p .vName, .proposal-contet-block ul li p .vName, .et-field-data-block ul li p .vName{color: #151c44;}
.vehical-list-contet-block ul li p .vName a, .bls-users-contet-block ul li p .vName a, .product-list-contet-block ul li p .vName a{color: #687ae8;}

.form-control{color: #151c44; font-size: 13px;}
.chosen-container-multi .chosen-choices .search-field input[type="text"]{font-size: 13px; color: #95aac9;}
.chosen-container-multi .chosen-choices, .vehicle-img-block{border: 1px solid #d3e0e9;}
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label, .input-group > .custom-select:focus, .input-group > .cstm-select-box:focus, .input-group > .cstm-select-box:hover, .input-group > .form-control:focus, .input-group > .form-control:hover, .chosen-container-multi .chosen-choices:hover, .chosen-container-multi .chosen-choices:focus{border-color: #95aac9;}
.cstm-select-box select{font-size: 13px; padding: .375rem .50rem;}
select{color:#151c44;}
select option{color:#151c44;}
select option:first-child{color:#95aac9;}

.cstm-select-box::after{color: #95aac9;}
.chosen-container-multi .chosen-choices .search-choice{color: #4e607b;border-color: #eaeef4;background-color: #eaeef4; font-size: 13px;}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close{top: .45rem;}

.dropdown-item{color:#151c44;}

.rc-list-RC-title-product-block .badge{position: relative; top: -3px;}
.orders-content-block{margin: 0 0 20px 0;border: 1px solid #d3e0e9;}
.orders-content-head-block{border-bottom:1px solid #d3e0e9;background: #f7f8fc;}
.dropdown-item{padding: .25rem .8rem;}
.cstm-dropdown-select .dropdown-menu li a{font-size: 13px;}

.faq-block a[aria-expanded="true"]{font-weight: 400;}
.faq-block .accordion .card-header{border:1px solid #d3e0e9; padding: 15px 40px 15px 20px !important;background: #f7f8fc !important;}
.faq-block .accordion .collapse, .faq-block .accordion .collapsing{padding: 0; border: 1px solid #d3e0e9; border-top: 0;}
.faq-block .accordion .mb-0{margin-bottom: 15px !important;}
.faq-block .accordion h5.mb-0{margin-bottom: 0 !important; font-size: 15px;}
.faq-block .accordion h5 .link{width: 100%; display: block; color: #151c44}
.faq-block .accordion .card-body{padding: 15px 20px !important; color: rgba(62,70,118,0.60);}
.faq-block .accordion h5 .link, .faq-block .accordion h5 .link.collapsed{position: relative;}
.faq-block .accordion h5 .link:before{content: "-"; position: absolute; top: -7px; right: -19px; font-size: 26px; color: #151c44; font-weight: 400;}
.faq-block .accordion h5 .link.collapsed:before{content: "+"; position: absolute; top: -2px; right: -20px; font-size: 20px; color: #151c44; font-weight: 400;}

.user_menu, .cartdropdown_detail, .more_notification{background: #fff; box-shadow: 0 18px 35px rgba(50,50,93,.1),-1px 0 15px rgba(0,0,0,.07);border: 1px solid #d3e0e9;}
.user_menu::before, .cartdropdown_detail::before, .more_notification::before{display: none;}
.user_menu a{border-bottom: 1px solid #edf2f9;}
.user_menu a:hover{color: #353d6b}
.nav-cart-item, .more_notification ul li, .notification_footer a{border-top: 1px solid #edf2f9;}
.more_notification ul li a i{left: 1px;color: #f2545b;}
.more_notification ul li a:hover, .more_notification ul li a:hover span, .notification_footer a:hover{color: #353d6b}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(0,0,0,0.2);}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:rgba(0,0,0,0.5);}
.faq-block .card{border: 0; padding: 0;}
.faq-block .card-body{padding: 0;}
.my-profile-details-block, .my-profile-form-block{margin: 0;border: 1px solid #d3e0e9;}

#sidebar .sidebar-header{padding: 20px 0;float: left;width: 100%;}
#sidebar .sidebar-header h3 img {width: 140px;float: left;margin: 0 20px;}

.cstm-tooltip__item {white-space: normal;}

.tagLabel.badge-success{background: #eaeef4;color: #95aac9;}
.closelabel {color: #151c44;}
.compose-message-editor-block .Editor-editor, .compose-message-editor-block .line-control-menu-bar, .compose-message-editor-block .line-control-status-bar{border: 1px solid #d3e0e9;}

/*nw090419*/
.vehical-edit-icon, .top-right-link-icon{font-size: 14px;line-height: 18px; padding: 3px 6px;}
.vehical-edit-icon i{position: relative; top: 1px;}
.dropdown.cstm-dropdown-select{white-space: nowrap;}

.lightbox_overlay{position:absolute;top:0;left:0;background:#000;opacity:.8;z-index:999;cursor:pointer}
.lightbox{position:absolute;z-index:1000;overflow: hidden;}
.spinner{position:absolute;top:calc(50% - 25px);left:calc(50% - 25px);font-size:50px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite; color: #fff;}
@-webkit-keyframes spin {
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@keyframes spin {
from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}
.close-lightbox{position:absolute;color:#ccc;font-size:30px;cursor:pointer;z-index:1001; opacity: 0.8 !important;}
.close-lightbox:hover{opacity: 1 !important; text-shadow: none;}
.next_img{position:absolute;color:#ccc;font-size:40px;right:10px;cursor:pointer;z-index:1001;opacity:0}
.next_img:hover{opacity:0}
.prev_img{position:absolute;color:#ccc;font-size:40px;left:10px;cursor:pointer;z-index:1001;opacity:0}
.prev_img:hover{opacity:0}
.vehicle-img-block {position: relative; overflow: hidden;}
.vehicle-img-block img {position: absolute;width: auto;height: 100%;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: inherit;}
.lightbox img {width: auto !important; max-width: inherit; height: auto !important; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.product-list-contet-block{z-index: 2;}
.product-list-contet-block .deleted-product ul li{width: 100%; margin: 0;}
.product-list-contet-block .deleted-product ul li a{color: #151c44;}
.proposal-pickup-address .vName a {color: #687ae8; text-decoration: underline;}
.proposal-pickup-address .cstm-tooltip__item{min-width: 240px; padding: 10px 20px;}
.proposal-pickup-address .cstm-tooltip__item span{font-size: 13px; line-height: 20px;}
.proposal-pickup-address .cstm-tooltip[data-direction="bottom"] .cstm-tooltip__item::after{left: 50%;}

.count-noti{padding: .2em .6em .3em; font-size: 13px; font-weight: 500; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em; position: absolute; right: 12px;}
.count-noti.bg-aqua{background-color: #19b5fe !important;}
.count-noti.bg-red{background-color: #f2545b !important;}
.count-noti.bg-purple{background-color: #7140d1 !important;}
.count-noti.bg-green{background-color: #00cc99 !important;}
.count-noti.bg-yellow{background-color: #f7bc06 !important;}
.count-noti.bg-dblue{background-color: #527cf9 !important;}
.count-noti.bg-mpinch{background-color: #12bfbb !important;}
/*nw090419 end*/
.dis-inline-block {display: inline-block;}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {position: relative; z-index: 2; cursor: pointer; white-space: nowrap;}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {visibility: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; pointer-events: none;}
/* Position tooltip above the element */
[data-tooltip]:before {position: absolute; bottom: 120%; left: 50%; transform: translateX(-50%); padding: 5px 10px; width: auto; border-radius: 3px; background-color: #000; background-color: hsla(0, 0%, 20%, 0.9); color: #fff; content: attr(data-tooltip); text-align: center; font-size: 12px; line-height: 1.2;}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {visibility: visible; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;}

.bid-rate-dropdown ul.dropdown-menu, .edit-bill-ddblk ul.dropdown-menu {min-width: 20rem; padding: 15px;}
.bid-rate-dropdown a .dropdown-label, .edit-bill-ddblk a .dropdown-label{color: #687ae8;}
.bid-rate-dropdown a:hover .dropdown-label, .edit-bill-ddblk a:hover .dropdown-label{color: #151c44;}

.viw-bill-ddblk ul.dropdown-menu{min-width: 20rem; max-width: 40rem; padding: 5px;}
.dis-inline-block{display: inline-block;}
.adm-info-ddblk ul.dropdown-menu{min-width: 20rem; max-width: 40rem; padding: 10px 15px;}
.adm-info-ddblk ul.dropdown-menu li h3{font-size: 16px; white-space: normal; line-height: 22px; margin-bottom: 5px; font-weight: 500; border-bottom: 1px solid #dce9f8; padding-bottom: 5px;}
.adm-info-ddblk ul.dropdown-menu li p{font-size: 13px; white-space: normal; line-height: 22px; margin-bottom: 0;}
.bil-action-block a:hover, .adm-info-ddblk a:hover{color: #fff !important;}

.filter-dd-block {display: flex; align-items: center;}
.filter-dd-block span{width: 75px;}
.pd-l-5{padding-left: 5px;}
.pd-r-5{padding-right: 5px;}
.pd-lr-5{padding-left: 5px; padding-right: 5px;}
.avlbl-sswich label{width: auto;}
.avlbl-sswich label.wid-120{width: 120px;}
.bil-action-block .site-button, .adm-info-ddblk .site-button{margin: 0 !important;}
.Vehicle-list-block {clear: both;}
/*on off switch css2 start*/
.avlbl-sswich .cstm-css-checkbox{position: relative; top: -4px; right: -10px;}
.avlbl-sswich .verified-switch-btn .new-switch {display: block;margin: 3px auto;}
.avlbl-sswich .new-switch1 {position: relative;text-align: center;display: inline-block;vertical-align: top;width: 60px;height: 24px;padding: 3px;background-color: white;border-radius: 12px;cursor: pointer;}
.avlbl-sswich .actiondropdownClick .site-button.action-btn.button-smm{padding: 5px; float: none;}
.avlbl-sswich .new-switch1 .switch-input {position: absolute;top: 0;left: 0;opacity: 0;}
.avlbl-sswich .new-switch1 .switch-label {position: relative;display: block;height: inherit;font-size: 10px;text-transform: uppercase;background: #dfe0e2;border-radius: inherit;-webkit-transition: 0.15s ase-out;-moz-transition: 0.15s ease-out;-o-transition: 0.15s ease-out;transition: 0.15s ease-out;-webkit-transition-property: opacity background;-moz-transition-property: opacity background;-o-transition-property: opacity background;transition-property: opacity background;}
.avlbl-sswich .new-switch1 .switch-label:before, .new-switch1 .switch-label:after {position: absolute;top: 50%;margin-top: -.50em;line-height: 1;-webkit-transition: inherit;-moz-transition: inherit;-o-transition: inherit;transition: inherit;}
.avlbl-sswich .new-switch1 .switch-label:before {content: attr(data-off);right: 5px;color: #a2a6a9;text-shadow: none;font-size: 12px; font-weight: 400;}
.avlbl-sswich .new-switch1 .switch-label:after {content: attr(data-on);left: 8px;color: white;text-shadow: none;opacity: 0; font-size: 12px; font-weight: 400;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label {background: #66acbd;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label:before {opacity: 0;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-label:after {opacity: 1;}
.avlbl-sswich .new-switch1 .switch-handle {position:absolute; top:6px; left:6px; width:18px;height: 18px;background: white;border-radius: 9px;-webkit-transition: left 0.15s ease-out;-moz-transition: left 0.15s ease-out;-o-transition: left 0.15s ease-out;transition: left 0.15s ease-out;}
.avlbl-sswich .new-switch1 .switch-input:checked ~ .switch-handle {left: 36px;}
.avlbl-sswich .switch-green > .switch-input:checked ~ .switch-label {background: #50bd5c;}
.avlbl-sswich .verified-switch-btn .new-switch1{margin: 0 auto;}
/*on off switch css2 end*/

/*element css start*/
.element-content{padding: 20px;}
.alert{display:flex;align-items:stretch;padding:1rem 2rem;border-radius:3px;margin:0 0 20px}.alert .alert-icon{display:flex;align-items:center;padding:0 1.25rem 0 0}.alert .alert-icon i{font-size:2.4rem}.alert .alert-icon.alert-icon-top{align-items:flex-start;align-content:stretch}.alert .alert-text{align-self:center;flex-grow:1}.alert .alert-close{padding:0 0 0 1rem;display:flex;align-items:center;justify-content:flex-end}.alert .alert-close .close{text-shadow:none!important}.alert .alert-close i{opacity:.8;transition:all .3s ease}.alert .alert-close i:hover{transition:all .3s ease;opacity:1}.alert.alert-elevate{box-shadow:0 0 13px 0 rgba(82,63,105,.1)}.alert.alert-brand{background:#5d78ff;border:1px solid #5d78ff;color:#fff}.alert.alert-brand .alert-icon i{color:#fff}.alert.alert-brand .alert-text{color:#fff}.alert.alert-brand .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-brand .alert-close i{color:#fff}.alert.alert-outline-brand{border:1px solid #5d78ff;color:#5d78ff}.alert.alert-outline-brand .alert-icon i{color:#5d78ff}.alert.alert-outline-brand .alert-text{color:#5d78ff}.alert.alert-outline-brand .alert-close i{color:#5d78ff}.alert.alert-solid-brand{background:rgba(93,120,255,.1);border-color:transparent;color:#5d78ff}.alert.alert-solid-brand .alert-icon i{color:#5d78ff}.alert.alert-solid-brand .alert-text{color:#5d78ff}.alert.alert-solid-brand .alert-close i{color:#5d78ff}.alert.alert-light{background:#fff;border:1px solid #fff;color:#282a3c}.alert.alert-light .alert-icon i{color:#282a3c}.alert.alert-light .alert-text{color:#282a3c}.alert.alert-light .alert-text hr{border-top-color:#282a3c;opacity:.4}.alert.alert-light .alert-close i{color:#282a3c}.alert.alert-outline-light{border:1px solid #fff;color:#fff}.alert.alert-outline-light .alert-icon i{color:#fff}.alert.alert-outline-light .alert-text{color:#fff}.alert.alert-outline-light .alert-close i{color:#fff}.alert.alert-solid-light{background:rgba(255,255,255,.1);border-color:transparent;color:#fff}.alert.alert-solid-light .alert-icon i{color:#fff}.alert.alert-solid-light .alert-text{color:#fff}.alert.alert-solid-light .alert-close i{color:#fff}.alert.alert-dark{background:#282a3c;border:1px solid #282a3c;color:#fff}.alert.alert-dark .alert-icon i{color:#fff}.alert.alert-dark .alert-text{color:#fff}.alert.alert-dark .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-dark .alert-close i{color:#fff}.alert.alert-outline-dark{border:1px solid #282a3c;color:#282a3c}.alert.alert-outline-dark .alert-icon i{color:#282a3c}.alert.alert-outline-dark .alert-text{color:#282a3c}.alert.alert-outline-dark .alert-close i{color:#282a3c}.alert.alert-solid-dark{background:rgba(40,42,60,.1);border-color:transparent;color:#282a3c}.alert.alert-solid-dark .alert-icon i{color:#282a3c}.alert.alert-solid-dark .alert-text{color:#282a3c}.alert.alert-solid-dark .alert-close i{color:#282a3c}.alert.alert-primary{background:#5867dd;border:1px solid #5867dd;color:#fff}.alert.alert-primary .alert-icon i{color:#fff}.alert.alert-primary .alert-text{color:#fff}.alert.alert-primary .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-primary .alert-close i{color:#fff}.alert.alert-outline-primary{border:1px solid #5867dd;color:#5867dd}.alert.alert-outline-primary .alert-icon i{color:#5867dd}.alert.alert-outline-primary .alert-text{color:#5867dd}.alert.alert-outline-primary .alert-close i{color:#5867dd}.alert.alert-solid-primary{background:rgba(88,103,221,.1);border-color:transparent;color:#5867dd}.alert.alert-solid-primary .alert-icon i{color:#5867dd}.alert.alert-solid-primary .alert-text{color:#5867dd}.alert.alert-solid-primary .alert-close i{color:#5867dd}.alert.alert-success{background:#0abb87;border:1px solid #0abb87;color:#fff}.alert.alert-success .alert-icon i{color:#fff}.alert.alert-success .alert-text{color:#fff}.alert.alert-success .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-success .alert-close i{color:#fff}.alert.alert-outline-success{border:1px solid #0abb87;color:#0abb87}.alert.alert-outline-success .alert-icon i{color:#0abb87}.alert.alert-outline-success .alert-text{color:#0abb87}.alert.alert-outline-success .alert-close i{color:#0abb87}.alert.alert-solid-success{background:rgba(10,187,135,.1);border-color:transparent;color:#0abb87}.alert.alert-solid-success .alert-icon i{color:#0abb87}.alert.alert-solid-success .alert-text{color:#0abb87}.alert.alert-solid-success .alert-close i{color:#0abb87}.alert.alert-info{background:#5578eb;border:1px solid #5578eb;color:#fff}.alert.alert-info .alert-icon i{color:#fff}.alert.alert-info .alert-text{color:#fff}.alert.alert-info .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-info .alert-close i{color:#fff}.alert.alert-outline-info{border:1px solid #5578eb;color:#5578eb}.alert.alert-outline-info .alert-icon i{color:#5578eb}.alert.alert-outline-info .alert-text{color:#5578eb}.alert.alert-outline-info .alert-close i{color:#5578eb}.alert.alert-solid-info{background:rgba(85,120,235,.1);border-color:transparent;color:#5578eb}.alert.alert-solid-info .alert-icon i{color:#5578eb}.alert.alert-solid-info .alert-text{color:#5578eb}.alert.alert-solid-info .alert-close i{color:#5578eb}.alert.alert-warning{background:#ffb822;border:1px solid #ffb822;color:#111}.alert.alert-warning .alert-icon i{color:#111}.alert.alert-warning .alert-text{color:#111}.alert.alert-warning .alert-text hr{border-top-color:#111;opacity:.4}.alert.alert-warning .alert-close i{color:#111}.alert.alert-outline-warning{border:1px solid #ffb822;color:#ffb822}.alert.alert-outline-warning .alert-icon i{color:#ffb822}.alert.alert-outline-warning .alert-text{color:#ffb822}.alert.alert-outline-warning .alert-close i{color:#ffb822}.alert.alert-solid-warning{background:rgba(255,184,34,.1);border-color:transparent;color:#ffb822}.alert.alert-solid-warning .alert-icon i{color:#ffb822}.alert.alert-solid-warning .alert-text{color:#ffb822}.alert.alert-solid-warning .alert-close i{color:#ffb822}.alert.alert-danger{background:#fd397a;border:1px solid #fd397a;color:#fff}.alert.alert-danger .alert-icon i{color:#fff}.alert.alert-danger .alert-text{color:#fff}.alert.alert-danger .alert-text hr{border-top-color:#fff;opacity:.4}.alert.alert-danger .alert-close i{color:#fff}.alert.alert-outline-danger{border:1px solid #fd397a;color:#fd397a}.alert.alert-outline-danger .alert-icon i{color:#fd397a}.alert.alert-outline-danger .alert-text{color:#fd397a}.alert.alert-outline-danger .alert-close i{color:#fd397a}.alert.alert-solid-danger{background:rgba(253,57,122,.1);border-color:transparent;color:#fd397a}.alert.alert-solid-danger .alert-icon i{color:#fd397a}.alert.alert-solid-danger .alert-text{color:#fd397a}.alert.alert-solid-danger .alert-close i{color:#fd397a}.alert.alert-secondary .alert-icon i{color:#74788d}.alert.alert-secondary .alert-text{color:#595d6e}.alert.alert--marginless{margin:0}.alert.alert-bold .alert-text{font-weight:500}.input-group-text{border-radius: 0;}
.kt-checkbox{display:inline-block;position:relative;padding-left:30px;margin-bottom:10px;text-align:left;cursor:pointer;font-size:1rem;transition:all .3s ease}.kt-checkbox.kt-checkbox--disabled{opacity:.8;cursor:not-allowed}.kt-checkbox>input{position:absolute;z-index:-1;opacity:0}.kt-checkbox>span{border-radius:3px;background:0 0;position:absolute;top:1px;left:0;height:18px;width:18px}.kt-checkbox>span:after{content:'';position:absolute;display:none;top:50%;left:50%;margin-left:-2px;margin-top:-6px;width:5px;height:10px;border-width:0 2px 2px 0 !important;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.kt-checkbox>input:checked~span{transition:all .3s ease;background:0 0}.kt-checkbox>input:checked~span:after{display:block}.kt-checkbox:hover>input:not([disabled]):checked~span,.kt-checkbox>input:checked~span{transition:all .3s ease}.kt-checkbox>input:disabled~span{opacity:.6;pointer-events:none}.kt-checkbox.kt-checkbox--solid>span{border:1px solid transparent}.kt-checkbox.kt-checkbox--solid:hover>input:not([disabled])~span,.kt-checkbox.kt-checkbox--solid>input:focus~span{transition:all .3s ease}.kt-checkbox.kt-checkbox--square>span{border-radius:0}.kt-checkbox.kt-checkbox--bold>span{border-width:2px!important;transition:all .3s ease}.form-inline .kt-checkbox{margin-left:15px;margin-right:15px}.kt-checkbox.kt-checkbox--single{width:18px;height:18px}.kt-checkbox.kt-checkbox--single>span{top:0}td>.kt-checkbox.kt-checkbox--single,th>.kt-checkbox.kt-checkbox--single{right:-5px}.input-group .kt-checkbox{margin-bottom:0!important;padding-left:0}.kt-checkbox-list{padding:0}.form-horizontal .form-group .kt-checkbox-list{padding-top:0}.kt-checkbox-list .kt-checkbox{text-align:left;display:block}.kt-checkbox-list .kt-checkbox:last-child{margin-bottom:5px}.kt-checkbox-inline{padding:0}.kt-checkbox-inline .kt-checkbox{display:inline-block;margin-right:15px;margin-bottom:5px}.kt-checkbox-inline .kt-checkbox:last-child{margin-right:0}.form-group.row .kt-checkbox-inline{margin-top:.75rem}.form-group.row .kt-checkbox-list{margin-top:2px}.kt-checkbox.kt-checkbox--disabled{opacity:.7}.kt-checkbox>span{border:1px solid #d1d7e2}.kt-checkbox>span:after{border:solid #687ae8}.kt-checkbox>input:disabled~span:after{border-color:#c8cfdd}.kt-checkbox>input:checked~span{border:1px solid #687ae8}.kt-checkbox.kt-checkbox--bold>input:checked~span{border:2px solid #c8cfdd}.kt-checkbox>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--solid>span{background:#e4e8ee;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--solid>span:after{border:solid #99a6bf}.kt-checkbox.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--solid>input:checked~span{background:#dee2ea}.kt-checkbox.kt-checkbox--brand.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--brand>span{border:1px solid #5d78ff}.kt-checkbox.kt-checkbox--brand>span:after{border:solid #5d78ff}.kt-checkbox.kt-checkbox--brand>input:disabled~span:after{border-color:#5d78ff}.kt-checkbox.kt-checkbox--brand>input:checked~span{border:1px solid #5d78ff}.kt-checkbox.kt-checkbox--brand.kt-checkbox--bold>input:checked~span{border:2px solid #5d78ff}.kt-checkbox.kt-checkbox--brand>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>span{background:#5d78ff;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>input:checked~span{background:#5d78ff}.kt-checkbox.kt-checkbox--light.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--light>span{border:1px solid #fff}.kt-checkbox.kt-checkbox--light>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--light>input:disabled~span:after{border-color:#fff}.kt-checkbox.kt-checkbox--light>input:checked~span{border:1px solid #fff}.kt-checkbox.kt-checkbox--light.kt-checkbox--bold>input:checked~span{border:2px solid #fff}.kt-checkbox.kt-checkbox--light>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--light.kt-checkbox--solid>span{background:#fff;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--light.kt-checkbox--solid>span:after{border:solid #282a3c}.kt-checkbox.kt-checkbox--light.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--light.kt-checkbox--solid>input:checked~span{background:#fff}.kt-checkbox.kt-checkbox--dark.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--dark>span{border:1px solid #282a3c}.kt-checkbox.kt-checkbox--dark>span:after{border:solid #282a3c}.kt-checkbox.kt-checkbox--dark>input:disabled~span:after{border-color:#282a3c}.kt-checkbox.kt-checkbox--dark>input:checked~span{border:1px solid #282a3c}.kt-checkbox.kt-checkbox--dark.kt-checkbox--bold>input:checked~span{border:2px solid #282a3c}.kt-checkbox.kt-checkbox--dark>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--dark.kt-checkbox--solid>span{background:#282a3c;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--dark.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--dark.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--dark.kt-checkbox--solid>input:checked~span{background:#282a3c}.kt-checkbox.kt-checkbox--primary.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--primary>span{border:1px solid #5867dd}.kt-checkbox.kt-checkbox--primary>span:after{border:solid #5867dd}.kt-checkbox.kt-checkbox--primary>input:disabled~span:after{border-color:#5867dd}.kt-checkbox.kt-checkbox--primary>input:checked~span{border:1px solid #5867dd}.kt-checkbox.kt-checkbox--primary.kt-checkbox--bold>input:checked~span{border:2px solid #5867dd}.kt-checkbox.kt-checkbox--primary>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--primary.kt-checkbox--solid>span{background:#5867dd;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--primary.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--primary.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--primary.kt-checkbox--solid>input:checked~span{background:#5867dd}.kt-checkbox.kt-checkbox--success.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--success>span{border:1px solid #0abb87}.kt-checkbox.kt-checkbox--success>span:after{border:solid #0abb87}.kt-checkbox.kt-checkbox--success>input:disabled~span:after{border-color:#0abb87}.kt-checkbox.kt-checkbox--success>input:checked~span{border:1px solid #0abb87}.kt-checkbox.kt-checkbox--success.kt-checkbox--bold>input:checked~span{border:2px solid #0abb87}.kt-checkbox.kt-checkbox--success>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--success.kt-checkbox--solid>span{background:#0abb87;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--success.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--success.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--success.kt-checkbox--solid>input:checked~span{background:#0abb87}.kt-checkbox.kt-checkbox--info.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--info>span{border:1px solid #5578eb}.kt-checkbox.kt-checkbox--info>span:after{border:solid #5578eb}.kt-checkbox.kt-checkbox--info>input:disabled~span:after{border-color:#5578eb}.kt-checkbox.kt-checkbox--info>input:checked~span{border:1px solid #5578eb}.kt-checkbox.kt-checkbox--info.kt-checkbox--bold>input:checked~span{border:2px solid #5578eb}.kt-checkbox.kt-checkbox--info>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--info.kt-checkbox--solid>span{background:#5578eb;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--info.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--info.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--info.kt-checkbox--solid>input:checked~span{background:#5578eb}.kt-checkbox.kt-checkbox--warning.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--warning>span{border:1px solid #ffb822}.kt-checkbox.kt-checkbox--warning>span:after{border:solid #ffb822}.kt-checkbox.kt-checkbox--warning>input:disabled~span:after{border-color:#ffb822}.kt-checkbox.kt-checkbox--warning>input:checked~span{border:1px solid #ffb822}.kt-checkbox.kt-checkbox--warning.kt-checkbox--bold>input:checked~span{border:2px solid #ffb822}.kt-checkbox.kt-checkbox--warning>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--warning.kt-checkbox--solid>span{background:#ffb822;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--warning.kt-checkbox--solid>span:after{border:solid #111}.kt-checkbox.kt-checkbox--warning.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--warning.kt-checkbox--solid>input:checked~span{background:#ffb822}.kt-checkbox.kt-checkbox--danger.kt-checkbox--disabled{opacity:.7}.kt-checkbox.kt-checkbox--danger>span{border:1px solid #fd397a}.kt-checkbox.kt-checkbox--danger>span:after{border:solid #fd397a}.kt-checkbox.kt-checkbox--danger>input:disabled~span:after{border-color:#fd397a}.kt-checkbox.kt-checkbox--danger>input:checked~span{border:1px solid #fd397a}.kt-checkbox.kt-checkbox--danger.kt-checkbox--bold>input:checked~span{border:2px solid #fd397a}.kt-checkbox.kt-checkbox--danger>input:disabled~span{opacity:.6}.kt-checkbox.kt-checkbox--danger.kt-checkbox--solid>span{background:#fd397a;border:1px solid transparent!important}.kt-checkbox.kt-checkbox--danger.kt-checkbox--solid>span:after{border:solid #fff}.kt-checkbox.kt-checkbox--danger.kt-checkbox--solid>input:focus~span{border:1px solid transparent!important}.kt-checkbox.kt-checkbox--danger.kt-checkbox--solid>input:checked~span{background:#fd397a}.kt-radio{display:inline-block;position:relative;padding-left:30px;text-align:left;margin-bottom:10px;cursor:pointer;font-size:1rem;transition:all .3s ease}.kt-radio.kt-radio--disabled{opacity:.8;cursor:not-allowed}.kt-radio>input{position:absolute;z-index:-1;opacity:0}.kt-radio>span{background:0 0;position:absolute;top:1px;left:0;height:18px;width:18px;border-radius:50%!important}.kt-radio>span:after{content:'';position:absolute;display:none;top:50%;left:50%;margin-left:-3px;margin-top:-3px;width:6px;height:6px;border-radius:100%!important}.kt-radio>input:checked~span{transition:all .3s ease;background:0 0}.kt-radio>input:checked~span:after{display:block}.kt-radio:hover>input:not([disabled]):checked~span,.kt-radio>input:checked~span{transition:all .3s ease}.kt-radio>input:disabled~span{opacity:.6;pointer-events:none}.kt-radio.kt-radio--solid>span{border:1px solid transparent}.kt-radio.kt-radio--solid:hover>input:not([disabled])~span,.kt-radio.kt-radio--solid>input:focus~span{transition:all .3s ease}.kt-radio.kt-radio--square>span{border-radius:0}.kt-radio.kt-radio--bold>span{border-width:2px!important;transition:all .3s ease}.form-inline .kt-radio{margin-left:15px;margin-right:15px}.kt-radio.kt-radio--single{width:18px;height:18px}.kt-radio.kt-radio--single>span{top:0}td>.kt-radio.kt-radio--single,th>.kt-radio.kt-radio--single{right:-5px}.input-group .kt-radio{margin-bottom:0!important;padding-left:0}.kt-radio-list{padding:0}.form-horizontal .form-group .kt-radio-list{padding-top:0}.kt-radio-list .kt-radio{display:block;text-align:left}.kt-radio-list .kt-radio:last-child{margin-bottom:5px}.kt-radio-inline{padding:0}.kt-radio-inline .kt-radio{display:inline-block;margin-right:15px;margin-bottom:5px}.kt-radio-inline .kt-radio:last-child{margin-right:0}.form-group.row .kt-radio-inline{margin-top:.75rem}.form-group.row .kt-radio-list{margin-top:2px}.kt-radio.kt-radio--disabled{opacity:.8}.kt-radio>span{border:1px solid #d1d7e2}.kt-radio>span:after{border:solid #687ae8;background:#687ae8}.kt-radio>input:disabled~span:after{border-color:#c8cfdd}.kt-radio>input:checked~span{border:1px solid #687ae8}.kt-radio.kt-radio--bold>input:checked~span{border:2px solid #c8cfdd}.kt-radio>input:disabled~span{opacity:.6}.kt-radio.kt-radio--solid>span{background:#e4e8ee;border:1px solid transparent!important}.kt-radio.kt-radio--solid>span:after{border:solid #99a6bf;background:#99a6bf}.kt-radio.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--solid>input:checked~span{background:#dee2ea}.kt-radio.kt-radio--brand.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--brand>span{border:1px solid #5d78ff}.kt-radio.kt-radio--brand>span:after{border:solid #5d78ff;background:#5d78ff}.kt-radio.kt-radio--brand>input:disabled~span:after{border-color:#5d78ff}.kt-radio.kt-radio--brand>input:checked~span{border:1px solid #5d78ff}.kt-radio.kt-radio--brand.kt-radio--bold>input:checked~span{border:2px solid #5d78ff}.kt-radio.kt-radio--brand>input:disabled~span{opacity:.6}.kt-radio.kt-radio--brand.kt-radio--solid>span{background:#5d78ff;border:1px solid transparent!important}.kt-radio.kt-radio--brand.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--brand.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--brand.kt-radio--solid>input:checked~span{background:#5d78ff}.kt-radio.kt-radio--light.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--light>span{border:1px solid #fff}.kt-radio.kt-radio--light>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--light>input:disabled~span:after{border-color:#fff}.kt-radio.kt-radio--light>input:checked~span{border:1px solid #fff}.kt-radio.kt-radio--light.kt-radio--bold>input:checked~span{border:2px solid #fff}.kt-radio.kt-radio--light>input:disabled~span{opacity:.6}.kt-radio.kt-radio--light.kt-radio--solid>span{background:#fff;border:1px solid transparent!important}.kt-radio.kt-radio--light.kt-radio--solid>span:after{border:solid #282a3c;background:#282a3c}.kt-radio.kt-radio--light.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--light.kt-radio--solid>input:checked~span{background:#fff}.kt-radio.kt-radio--dark.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--dark>span{border:1px solid #282a3c}.kt-radio.kt-radio--dark>span:after{border:solid #282a3c;background:#282a3c}.kt-radio.kt-radio--dark>input:disabled~span:after{border-color:#282a3c}.kt-radio.kt-radio--dark>input:checked~span{border:1px solid #282a3c}.kt-radio.kt-radio--dark.kt-radio--bold>input:checked~span{border:2px solid #282a3c}.kt-radio.kt-radio--dark>input:disabled~span{opacity:.6}.kt-radio.kt-radio--dark.kt-radio--solid>span{background:#282a3c;border:1px solid transparent!important}.kt-radio.kt-radio--dark.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--dark.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--dark.kt-radio--solid>input:checked~span{background:#282a3c}.kt-radio.kt-radio--primary.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--primary>span{border:1px solid #5867dd}.kt-radio.kt-radio--primary>span:after{border:solid #5867dd;background:#5867dd}.kt-radio.kt-radio--primary>input:disabled~span:after{border-color:#5867dd}.kt-radio.kt-radio--primary>input:checked~span{border:1px solid #5867dd}.kt-radio.kt-radio--primary.kt-radio--bold>input:checked~span{border:2px solid #5867dd}.kt-radio.kt-radio--primary>input:disabled~span{opacity:.6}.kt-radio.kt-radio--primary.kt-radio--solid>span{background:#5867dd;border:1px solid transparent!important}.kt-radio.kt-radio--primary.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--primary.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--primary.kt-radio--solid>input:checked~span{background:#5867dd}.kt-radio.kt-radio--success.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--success>span{border:1px solid #0abb87}.kt-radio.kt-radio--success>span:after{border:solid #0abb87;background:#0abb87}.kt-radio.kt-radio--success>input:disabled~span:after{border-color:#0abb87}.kt-radio.kt-radio--success>input:checked~span{border:1px solid #0abb87}.kt-radio.kt-radio--success.kt-radio--bold>input:checked~span{border:2px solid #0abb87}.kt-radio.kt-radio--success>input:disabled~span{opacity:.6}.kt-radio.kt-radio--success.kt-radio--solid>span{background:#0abb87;border:1px solid transparent!important}.kt-radio.kt-radio--success.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--success.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--success.kt-radio--solid>input:checked~span{background:#0abb87}.kt-radio.kt-radio--info.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--info>span{border:1px solid #5578eb}.kt-radio.kt-radio--info>span:after{border:solid #5578eb;background:#5578eb}.kt-radio.kt-radio--info>input:disabled~span:after{border-color:#5578eb}.kt-radio.kt-radio--info>input:checked~span{border:1px solid #5578eb}.kt-radio.kt-radio--info.kt-radio--bold>input:checked~span{border:2px solid #5578eb}.kt-radio.kt-radio--info>input:disabled~span{opacity:.6}.kt-radio.kt-radio--info.kt-radio--solid>span{background:#5578eb;border:1px solid transparent!important}.kt-radio.kt-radio--info.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--info.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--info.kt-radio--solid>input:checked~span{background:#5578eb}.kt-radio.kt-radio--warning.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--warning>span{border:1px solid #ffb822}.kt-radio.kt-radio--warning>span:after{border:solid #ffb822;background:#ffb822}.kt-radio.kt-radio--warning>input:disabled~span:after{border-color:#ffb822}.kt-radio.kt-radio--warning>input:checked~span{border:1px solid #ffb822}.kt-radio.kt-radio--warning.kt-radio--bold>input:checked~span{border:2px solid #ffb822}.kt-radio.kt-radio--warning>input:disabled~span{opacity:.6}.kt-radio.kt-radio--warning.kt-radio--solid>span{background:#ffb822;border:1px solid transparent!important}.kt-radio.kt-radio--warning.kt-radio--solid>span:after{border:solid #111;background:#111}.kt-radio.kt-radio--warning.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--warning.kt-radio--solid>input:checked~span{background:#ffb822}.kt-radio.kt-radio--danger.kt-radio--disabled{opacity:.8}.kt-radio.kt-radio--danger>span{border:1px solid #fd397a}.kt-radio.kt-radio--danger>span:after{border:solid #fd397a;background:#fd397a}.kt-radio.kt-radio--danger>input:disabled~span:after{border-color:#fd397a}.kt-radio.kt-radio--danger>input:checked~span{border:1px solid #fd397a}.kt-radio.kt-radio--danger.kt-radio--bold>input:checked~span{border:2px solid #fd397a}.kt-radio.kt-radio--danger>input:disabled~span{opacity:.6}.kt-radio.kt-radio--danger.kt-radio--solid>span{background:#fd397a;border:1px solid transparent!important}.kt-radio.kt-radio--danger.kt-radio--solid>span:after{border:solid #fff;background:#fff}.kt-radio.kt-radio--danger.kt-radio--solid>input:focus~span{border:1px solid transparent!important}.kt-radio.kt-radio--danger.kt-radio--solid>input:checked~span{background:#fd397a}
.validated .invalid-feedback,.validated .valid-feedback{display:block}
/*element css end*/

.button-sm-ctm1{padding: 3px 5px 2px 5px;}

@media print {
    .breadcrums, footer{display: none;}
}

/*09042019*/
@media (max-width:1373px) {
    .small-box > .inner{padding: 10px 15px;}
    .small-box{min-height: 90px;}
    .comn-table .table th, .comn-table .table td, .comn-table1 .table td, .comn-table1 .table th{font-size: 13px;padding: 10px 8px; letter-spacing: 0;}
    .vehical-list-contet-block ul li{padding-right: 10px;}
    .vehical-list-contet-block ul li p{font-size: 13px;padding: 0 0 5px 0;}
    .nworrd{top: 0; font-size: 9px;}
}
/*09042019-end*/

@media (max-width:1300px){
    #sidebar .sidebar-header{padding: 19px 0;}
    #sidebar .sidebar-header h3 img{width: 120px;margin: 0 12px;}
}

@media (max-width:1199px){
    .comn-table1 .table td, .comn-table1 .table th{padding: 10px 7px;letter-spacing: 0; white-space: nowrap;}
    .comn-table1 .table td{vertical-align: middle;}
}

@media (max-width:991px){
    .small-box{margin-bottom: 20px;}
    .comn-table .table th, .comn-table .table td{white-space: nowrap;vertical-align: middle;}
    .comn-table .table td:last-child a{margin: 1px 0;}
}

@media (max-width:767px){
    .nw-theme .main-title{font-size: 20px;margin-bottom: 20px;}
    .bg_dark{height: 120px;}
    .nw-theme .middle-container-wrap{margin-top: -110px;}
    .nw-theme .breadcrums{margin: 30px 0 15px 0;}
    .small-box h3{font-size: 24px;}
    .small-box p{font-size: 13px;}
    .small-box > .small-box-footer{padding: 5px 10px;}
    .nw-theme .breadcrums, .nw-theme .breadcrums a{font-size: 14px;}
    .nw-theme .sub-title{font-size: 15px;padding: 6px 0;}
    .wht-tble-bg{padding: 15px;}
    .site-button, .site-button-secondry{padding: 5px 10px;font-size: 13px;}
    .site-button.button-sm{padding: 3px 5px;font-size: 11px;}
    .vehical-edit-icon, .top-right-link-icon{top: 5px; right: 5px;}
    .vehical-list-contet-block ul li .vehicle-img-block{width: 60px;height: 60px;}
    footer.px-4{padding-left: 0 !important; padding-right: 0 !important;}
    .flag{top: 50%;transform: translateY(-50%);}
    .et-dynamic-add-btn-block h2{font-size: 13px;}
    .faq-block .accordion .card-header{padding: 10px 30px 10px 15px !important;}
    .faq-block .accordion h5 .link::before{top: -9px;}
    .faq-block .accordion h5.mb-0{font-size: 14px;}
}

@media (max-width:420px){
    .my-profile-details-block strong{position: relative; float: left; width: 100%;}
    .my-profile-details-block p{padding-left: 0;}
}

@media (max-width:330px){
    .rc-list-RC-title-product-block .badge{position: relative; top: 5px;}
}