.br {
    border-radius: 8px;  
  }
  .w80 {
     width: 80%;
  }
  .w50 {
     width: 50%;
  }
  .w25 {
     width: 25%;
  }
  
  .h80 {
     height: 80px;
  }
  .h70 {
     height: 70px;
  }
  .h50 {
     height: 50px;
  }
  .h25 {
     height: 25px;
  }
  .h150 {
     height: 150px;
  }

  .mrg20{
    margin-top: 20px;
  }
  /* .card {
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 80%;
    margin: 50px auto;
  } */
  .wrapper {
    width: 0px;
    animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  .profilePic {
    height: 160px;
    width: 160px;
    /* border-radius: 50%; */
  }
  .comment {
    height: 10px;
    background: #777;
    margin-top: 20px;
  }
  
  .small_thamb{

    width: 200px;
    display: inline-block;

  }

  @keyframes fullView {
    100% {
      width: 100%;
    }
  }
  
  
  .animate {
     animation : shimmer 2s infinite linear;
     background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
      background-size: 1000px 100%;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }


 /* For Table Shimmer  */
.loading-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

th {
 text-align: left; 
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.box {
  height: 70px;
  width: 70px;  
}

.line {
  height: 20px;
  width: 300px;
}

.big_box {
  height: 250px;
  width: 264px;  
}

.mr50-left{
  margin-left: 50px;
}

.display_flex{
  display: flex;
}

.justify_content{
  justify-content: center;
}

/* Supplier CSS */

.float_left{
  float: left;
}

.side_panel_box{
  height: 100%;
  width: 264px;
}

.height_100{
  height: 100%;
}

.mr30-left{
  margin-left: 30px;
}

.mr30-right{
  margin-right: 30px;
}

.overflow-hidden{
  overflow: hidden;
}