<footer>
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="logo_text">
								<a href="#"><img src="images/footer_logo.png" alt="conmix"></a>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
							</div>
						</div>
						<div class="col-lg-2 col-sm-3 col-6">
							<div class="footer_link">
								<h5>MAIN PAGES</h5>
								<p><a href="#">Sell with US</a></p>
								<p><a href="#">About Us</a></p>
								<p><a href="#">Contact Us</a></p>
							</div>
						</div>
						<div class="col-lg-2 col-sm-3 col-6">
							<div class="footer_link">
								<h5>POLICY</h5>
								<p><a href="#">Terms of Usage</a></p>
								<p><a href="#">Privacy Policy</a></p>
								<p><a href="#">Return Policy</a></p>
							</div>
						</div>
						<div class="col-lg-5 col-sm-6 col-12">
							<div class="footer_subscribe">
								<h5>SUBSCRIBE</h5>
								<p>Subscribe to our newsletter, so that you can be the first to know about new offers and promotions.</p>
								<div class="subscribe_box">
									<input type="text" class="form-control" name="" placeholder="Enter Email Address">
									<button type="button">SUBSCRIBE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_copyright">
				<div class="container">
					<div class="footer_copyright_inner">
						<p>Copyright © 2020 Conmix. All Rights Reserved.</p>
						<a href="#"><img src="images/aap-img.png" alt="app icon"></a>
					</div>
				</div>
			</div>
		</footer>