#button{
	display:block;
	margin:20px auto;
	padding:10px 30px;
	background-color:#eee;
	border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
	z-index: 9999;
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}

.invalid-feedback{display:block;}

.error {
	color:red !important;
	border-color: red;
}
.form-control.error:focus {
	border-color: red;
	outline: none;
}
label.error {
	font-size: 80%;
}

.modal{
    z-index: 20;   
}

.modal-backdrop{
	z-index: 10 !important;
}


#location_dropdown .chosen-container-single a:not([href]):not([tabindex]) {
    color: #A4A4A4 !important;
}

#location_dropdown .chosen-container-single .chosen-single div {
    
    top: 7px;
    padding-left: -0.5rem;
}
#location_dropdown .chosen-container-single .chosen-single {
   
	border: 1px solid #EAEAEA;
	color: #151C44;
	height: 41px;
	/* padding: 7px 0 0 0.75rem; */
	padding: 7px 0 0 15px;
	border-radius: 3px;
	
}
.form-group .chosen-container-single .chosen-search:after,
.form-group .chosen-container .chosen-results li.result-selected:before {
	content: none;
}
.form-group .chosen-container .chosen-results {
	padding-bottom: .8rem;
}
#location_dropdown .chosen-container-single .chosen-single div::after {
    
    left: -5px;
   
}

#location_dropdown .chosen-container {
    font-size: 14px;
    text-align: left;
}

.multiselect-container{
	overflow-y: scroll !important;
    height: 250px !important;
}


@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 210px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2A3C52;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 75px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #42A5F5;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}
.floating-container .float-element:nth-child(2) {
  background: #4CAF50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}


button.custom-select{

    overflow: hidden !important;

}

button.custom-select span{

  display: inline-block !important;
  overflow: hidden !important;
  width: 99% !important;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cust_design_form .form-label{

    font-size: 12px !important;
  
  }

  #choose_time_popup .modal-dialog{

    position: fixed;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;

  }
  
  
}

#choose_time_popup .modal-dialog{

  padding-top: 10%;

}


@media (max-width: 576px)
{
  .top_header .logo {
      width: 200px !important;
  }
}