/*offcanvas offer css start*/
 .ofrSldm-open{
    overflow:hidden!important;
    padding-right: 17px;
}
.ofcnvs_coupn {
    position: relative;
    z-index: 99
}
.ofrSldm-nav{
    position:fixed;
    z-index:2;
    top:0;
    overflow:hidden;
    width:20rem;
    height:100%;
    color:#222;
    background-color:#fff
}
.ofrSldm-brand{
    font-size:1.5rem;
    font-weight:700;
    line-height:3.75rem;
    display:block;
    padding-right:.75rem;
    padding-left:.75rem;
    text-decoration:none;
    color:#222
}
.ofrSldm-menu{
    margin:0;
    padding:0;
    list-style:none
}
.ofrSldm-menu-item{
    font-size:1rem;
    display:block;
    padding:.75rem;
    text-decoration:none;
    color:#222
}
.ofrSldm-menu-item:hover{
    text-decoration:underline;
    color:#555;
    background-color:transparent
}
.ofrSldm-overlay{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.2)
}
.ofrSldm-open .ofrSldm-overlay{
    display:block
}
.ofrSldm--top .ofrSldm-nav{
    top:-100%;
    left:0;
    width:100%;
    height:auto;
    max-height:100%;
    -webkit-transition:top .6s cubic-bezier(.19,1,.22,1);
    transition:top .6s cubic-bezier(.19,1,.22,1)
}
.ofrSldm--top.ofrSldm-open .ofrSldm-nav{
    top:0
}
.ofrSldm--top .ofrSldm-hamburger,.ofrSldm--top.ofrSldm-open .ofrSldm-hamburger{
    right:0
}
.ofrSldm-hamburger{
    visibility: hidden;
    opacity: 0;
}
.ofrSldm--left .ofrSldm-nav{
    left:-16.25rem;
    -webkit-transition:left .6s cubic-bezier(.19,1,.22,1);
    transition:left .6s cubic-bezier(.19,1,.22,1)
}
.ofrSldm--left .ofrSldm-hamburger,.ofrSldm--left.ofrSldm-open .ofrSldm-nav,.ofrSldm--left.ofrSldm-open .ofrSldm-navbar .ofrSldm-hamburger{
    left:0
}
.ofrSldm--left.ofrSldm-open .ofrSldm-hamburger{
    left:16.25rem
}
.ofrSldm--right .ofrSldm-nav{
    right:-20rem;
    -webkit-transition:right .6s cubic-bezier(.19,1,.22,1);
    transition:right .6s cubic-bezier(.19,1,.22,1)
}
.ofrSldm--right .ofrSldm-hamburger,.ofrSldm--right.ofrSldm-open .ofrSldm-nav,.ofrSldm--right.ofrSldm-open .ofrSldm-navbar .ofrSldm-hamburger{
    right:0
}
.ofrSldm--right.ofrSldm-open .ofrSldm-hamburger{
    right:19.25rem;
    visibility: visible;
    opacity: 1;
}
.ofrSldm-hamburger{
    position:fixed;
    z-index:4;
    top:5px;
    display:block;
    box-sizing:content-box;
    width:2rem;
    padding:0;
    padding:18px .75rem 30px;
    -webkit-transition:all .6s cubic-bezier(.19,1,.22,1);
    transition:all .6s cubic-bezier(.19,1,.22,1);
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    border:0;
    outline:0;
    background-color:transparent
}
.ofrSldm-hamburger:hover{
    cursor:pointer;
    background-color:transparent
}
.ofrSldm-hamburger-icon{
    position:relative;
    display:block;
    margin-top:10px
}
.ofrSldm-hamburger-icon,.ofrSldm-hamburger-icon:after,.ofrSldm-hamburger-icon:before{
    width:100%;
    height:2px;
    -webkit-transition:all .6s cubic-bezier(.19,1,.22,1);
    transition:all .6s cubic-bezier(.19,1,.22,1);
    background-color:#222
}
.ofrSldm-hamburger-icon:after,.ofrSldm-hamburger-icon:before{
    position:absolute;
    top:-10px;
    left:0;
    content:" "
}
.ofrSldm-hamburger-icon:after{
    top:10px
}
.ofrSldm-open .ofrSldm-hamburger-icon{
    background-color:transparent
}
.ofrSldm-open .ofrSldm-hamburger-icon:after,.ofrSldm-open .ofrSldm-hamburger-icon:before{
    top:0
}
.ofrSldm-open .ofrSldm-hamburger-icon:before{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.ofrSldm-open .ofrSldm-hamburger-icon:after{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.sr-only{
    position:absolute;
    overflow:hidden;
    clip:rect(0,0,0,0);
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
    position:static;
    overflow:visible;
    clip:auto;
    width:auto;
    height:auto;
    margin:0
}
.ofrSldm--sidebar,.ofrSldm--sidebar .ofrSldm-contents{
    background-color:#fff
}
@media (min-width:64em){
    .ofrSldm--sidebar .ofrSldm-hamburger{
        display:none;
        visibility:hidden
    }
    .ofrSldm--sidebar .ofrSldm-nav{
        display:block;
        -webkit-transform:none;
        transform:none;
        position:fixed;
        width:16.25rem;
        height:100%
    }
    .ofrSldm--sidebar.ofrSldm--left .ofrSldm-nav{
        left:0;
        border-right:1px solid #ddd
    }
    .ofrSldm--sidebar.ofrSldm--left .ofrSldm-contents{
        margin-left:12.5rem
    }
    .ofrSldm--sidebar.ofrSldm--right .ofrSldm-nav{
        right:0;
        border-left:1px solid #ddd
    }
    .ofrSldm--sidebar.ofrSldm--right .ofrSldm-contents{
        margin-right:12.5rem
    }
    .ofrSldm--sidebar .ofrSldm-container{
        max-width:48rem
    }
}
@media (min-width:75em){
    .ofrSldm--sidebar .ofrSldm-nav{
        width:16.25rem
    }
    .ofrSldm--sidebar.ofrSldm--left .ofrSldm-contents{
        margin-left:16.25rem
    }
    .ofrSldm--sidebar.ofrSldm--right .ofrSldm-contents{
        margin-right:16.25rem
    }
    .ofrSldm--sidebar .ofrSldm-container{
        max-width:60rem
    }
}
.ofrSldm--navbarTopGutter{
    padding-top:3.75rem
}
.ofrSldm-navbar .ofrSldm-navbar-header{
    border-bottom:1px solid #ddd;
    background-color:#fff
}
.ofrSldm-navbar{
    z-index:3;
    top:0;
    width:100%
}
.ofrSldm-navbar--fixed{
    position:fixed
}
.ofrSldm-navbar-header{
    position:relative;
    z-index:3;
    box-sizing:border-box;
    width:100%;
    height:3.75rem;
    padding:0 .75rem;
    text-align:center
}
.ofrSldm-navbar .ofrSldm-brand{
    line-height:3.75rem;
    display:inline-block;
    padding-top:0;
    padding-bottom:0;
    text-decoration:none
}
.ofrSldm-navbar .ofrSldm-brand:hover{
    background-color:transparent
}
.ofrSldm-navbar .ofrSldm-nav{
    padding-top:3.75rem
}
.ofrSldm-navbar .ofrSldm-menu{
    padding-bottom:7.5rem
}
@media (min-width:64em){
    .ofrSldm-navbar{
        height:3.75rem;
        border-bottom:1px solid #ddd;
        background-color:#fff
    }
    .ofrSldm-navbar .ofrSldm-navbar-header{
        position:relative;
        display:block;
        float:left;
        width:auto;
        padding:0;
        border:0
    }
    .ofrSldm-navbar .ofrSldm-menu--right{
        float:right
    }
    .ofrSldm-navbar .ofrSldm-menu li{
        float:left
    }
    .ofrSldm-navbar .ofrSldm-menu-item{
        line-height:3.75rem;
        padding-top:0;
        padding-bottom:0
    }
    .ofrSldm-navbar .ofrSldm-hamburger{
        display:none
    }
    .ofrSldm-navbar .ofrSldm-nav{
        position:relative;
        left:0;
        overflow:visible;
        width:auto;
        height:3.75rem;
        padding-top:0;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    .ofrSldm-navbar .ofrSldm-menu{
        padding:0
    }
    .ofrSldm-navbar .ofrSldm-dropdown-menu{
        position:absolute;
        width:16.25rem;
        border:1px solid #ddd
    }
    .ofrSldm-navbar .ofrSldm-dropdown-menu-item{
        padding-left:.75rem
    }
}
.ofrSldm-dropdown-menu{
    display:none;
    box-sizing:border-box;
    width:100%;
    margin:0;
    padding:0;
    background-color:#fff
}
.ofrSldm-dropdown-menu>li{
    width:100%;
    list-style:none
}
.ofrSldm-dropdown-menu-item{
    line-height:3.75rem;
    display:block;
    padding:0;
    padding-right:.75rem;
    padding-left:1.5rem;
    text-decoration:none;
    color:#222
}
.ofrSldm-dropdown-menu-item:hover{
    text-decoration:underline;
    color:#555;
    background-color:transparent
}
.ofrSldm-dropdown.open>.ofrSldm-dropdown-menu{
    display:block
}
.ofrSldm-dropdown .ofrSldm-caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:4px;
    -webkit-transition:opacity .2s ease,-webkit-transform .2s ease;
    transition:opacity .2s ease,-webkit-transform .2s ease;
    transition:transform .2s ease,opacity .2s ease;
    transition:transform .2s ease,opacity .2s ease,-webkit-transform .2s ease;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    vertical-align:middle;
    border-top:4px solid;
    border-right:4px solid transparent;
    border-left:4px solid transparent
}
.ofrSldm-dropdown.open .ofrSldm-caret{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
}
.ofrSldm-container{
    margin-right:auto;
    margin-left:auto
}
@media (min-width:64em){
    .ofrSldm-container{
        max-width:60rem
    }
}
@media (min-width:75em){
    .ofrSldm-container{
        max-width:70rem
    }
}
/*offcanvas offer css end*/
