html, body {
	height: 100%;
}
body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	background-color: #F7F7F7;
}
a {
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease-out;
}
a:hover, a:focus {
	color: #136e9d;
}
button {
	transition: all 0.3s ease-out;
}
button:focus, .btn-primary:focus {
	outline: none;
	box-shadow: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 700;
}
/* Loader css start */
.loader, .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:fixed;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99999999999;
    background-color:#fff;
    display: flex;
    align-items: center;
	justify-content: center;
}
#loadingDiv img {
	width: 200px;
}

/* Loader css end */

.dropdown-item:active, .dropdown-item:focus {
	outline: none;
	background-color: transparent;
}
.btn-primary {
	background-color: #136e9d;
	border-radius: 0;
	border: none;
	outline: none;
	padding: 10px 10px;
	font-size: 14px;
	color: #fff;
	transition: all 0.3s ease-out;
	min-width: 115px;
}
.btn-success {
	background-color: #19A42C;
}
.btn-secondary {
	background-color: #2A3C52;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #2A3C52
}
.btn-secondary:hover, .btn-secondary:focus {
	background-color: #365882
}
.page-wrap {
	min-height: 100%;
}
.page-wrap:after {
  content: "";
  display: block;
}
.container {
	max-width: 1140px;
	width: 100%;
}
.form-control, .form-select {
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
	height: 40px;
	transition: all 0.3s ease-out;
}
.form-control:focus, .form-control:hover, .form-select:focus, .form-select:hover {
	box-shadow: none;
	border-color: #000;
}
/*============= Comman style end ==============*/

/*============= Slider ==============*/
.carousel-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.3;
}
/*============= Slider end ==============*/

/*============= Header start ==============*/
.top_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}
.header_search_inner {
	position: relative;
	width: 420px;
}
.header_search_inner .header_search_btn {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 40px;
}
.top_header_right {
	display: flex;
	align-items: center;
}
.header_right_menu {
	padding-left: 40px;
}
.header_right_menu .dropdown-toggle::after {
	content: none;
}
.header_right_menu a {
	color: #000;
	/* position: relative; */
}
.header_right_menu a .count {
	background-color: #136e9d;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    border-radius: 50%;
    min-width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: -10px;
    right: -10px;
}
.header_right_menu>.dropdown {
	padding-right: 20px;
	margin-right: 20px;
	position: relative;
}
.header_right_menu>.dropdown::after {
	content: "|";
	position: absolute;
	top: 0;
	right: 0;
}
.header_menu {
	background-color: #2A3C52;
}
.header_menu_item {
	display: flex;
	align-items: center;
}
.header_menu_item li {
	margin: 10px 0;
	margin-right: 15px;
}
.header_menu_item li a {
	color: #fff;
	padding: 5px
}
.header_menu_item li a:hover {
	color: #136e9d;
}
.header_menu_item li.dropdown .dropdown-item {
	color: #212529;
	font-size: 14px;
	padding: 8px 15px;
}
.header_menu_item li.dropdown .dropdown-item:hover {
	color: #136e9d;
}
.header_menu_item .dropdown-menu {
	border-radius: 0;
	padding: 0;
}
.header_menu_item .dropdown-menu li {
	margin: 0;
}
.header_menu_item li .dropdown-toggle::after {
	vertical-align: 0.100em;
}
.header_menu_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.header_menu_right {
	display: flex;
	align-items: center;
}
.header_menu_right a {
	color: #fff
}
.header_menu_right a i.fa-angle-down {
	padding-left: 3px;
}
.header_menu_right a i.fa-map-marker-alt {
	padding-right: 2px;
}
.header_menu_right .sell_with_btn {
	background-color: #136e9d;
	padding: 15px 20px;
	margin-left: 20px;
}
.header_right_menu .header_cart {
	width: 400px;
	box-shadow: 0px 3px 6px #00000029;
	border: none;
	background-color: #fff;
	border-radius: 0;
}
.header_right_menu .empty_cart {
	color: #959595;
	font-size: 18px;
	text-align: center;
	padding: 35px 10px;
}
/*==  cart menu ==*/
.cart_menu_item {
	border-bottom: 1px solid #E5E5E5;
}
.cart_menu_item_img {
	width: 80px;
	flex: 0 0 auto;
}
.cart_menu_item_dtl {
	padding-left: 20px;
	padding-right: 25px;
	position: relative;
	flex: 1 0 0%;
}
.cart_menu_item_dtl h6 {
	font-size: 14px;
}
.cart_menu_item_dtl p {
	margin: 0;
	font-size: 12px;
	color: #000;
}
.cart_menu_item_dtl p span {
	color: #136e9d;
}
.cart_menu_item_dtl a {
	top: 0;
	right: 0;
	/* border: 1px solid #2A3C52; */
	height: 22px;
	width: 22px;
	text-align: center;
	font-size: 17px;
	position: absolute;
	color: #136e9d;
}
/* .cart_menu_total {
	border-bottom: 1px solid #E5E5E5;
} */
.cart_menu .btn {
	color: #fff;
}
/*==  cart menu ==*/
/*============= Header end ==============*/

/*============= footer ==============*/
.footer_copyright {
	background-color: #263951;
}
.footer_copyright_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_copyright_inner p {
	margin: 10px 0;
	color: #fff;
}
.footer_copyright_inner a {
	margin: 10px 0;
}
.footer_top {
	background-color: #EEEEEE;
	padding: 50px 0;
}
.logo_text a img {
	width: 170px;
}
.logo_text a {
	display: inline-block;
	margin-bottom: 10px;
}
.footer_link h5, .footer_subscribe h5 {
	font-weight: 700;
	margin-bottom: 20px;
}
.subscribe_box {
	position: relative;
}
.subscribe_box button {
	background-color: #136e9d;
	width: 118px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.subscribe_box button:hover {
	background-color: #2A3C52;
}
/*============= footer end ==============*/

/*============= home section ==============*/
.home_title {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 40px;
	font-weight: 700;
	border-bottom: 1px solid #E5E5E5;
}
.home_title::before {
	content: "";
	height: 3px;
	width: 60px;
	background-color: #136e9d;
	position: absolute;
	left: 0;
	bottom: -1.5px;
}
.home_our_product_bx {
	text-align: center;
	position: relative;
	display: block;
}
.home_our_product_bx_img img {
	min-width: 100%;
}
.home_our_product_bx p {
	background-color: #2A3C52;
	font-size: 15px;
	padding: 10px;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	transition: all 0.3s ease-out;
}
.home_our_product_bx:hover p {
	background-color: #136e9d;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}
.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
	max-width: 100%;
}
.owl-nav {
	width: 80px;
	background-color: #f7f7f7;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: -55px;
	right: 0;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	background-color: #2A3C52;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.owl-carousel .owl-nav button.owl-next {
	margin-left: 5px;
}

/*================== Popup bacis css  ====================*/
.btn-close {
	width: 36px;
	height: 36px;
	box-shadow: 0px 0px 4px #00000095;
	background-color: #fff;
	color: #000;
	border-radius: 50%;
    padding: 0;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -5px;
    opacity: 1;
    z-index: 2;
}
.modal-content {
	border-radius: 0;
	border: none;
}
.modal-body {
	padding: 24px;
	position: relative;
}
.login_fild_inner {
	min-height: 140px;
}
.footer_line_link {
	margin-top: 120px;
	text-align: center;
	margin-bottom: 0;
}
.footer_line_link a, .otp_screen p a {
	color: #136e9d;
}
.otp_screen .timer_otp {
	color: #136e9d;
	font-weight: 500;
}
.otp_textbox .form-control {
    width: 45px;
    text-align: center;
}
.modal-dialog400 {
    max-width: 400px;
    margin: 1.75rem auto;
}
/*======== Location popup ===========*/
.modal-body .title span {
	font-weight: 400;
	font-size: 18px;
}
.search_detect {
	display: flex;
	align-items: start;
}
.search_area {
	position: relative;
	width: 100%;
	/* padding-right: 30px; */
}
.search_area .form-control {
	padding-left: 30px;
	padding-right: 35px;
}
.search_area i.fa-search {
	position: absolute;
	top: 13px;
	left: 10px;
	opacity: 0.4;
}
.search_area span.remove_serch {
	cursor: pointer;
	display: inline-block;
	color: #136e9d;
	position: absolute;
	top: 1px;
    right: 1px;
    width: 35px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #F6F6F6;
}
.search_detect a {
	color: #136e9d;
	border: 1px solid #136e9d;
	padding: 0 17px;
	line-height: 38px;
	display: inline-block;
	min-width: 175px;
}
.dicect_loca p {
	color: #136e9d;
	font-size: 13px;
}
.input_with_icon {
	position: relative;
}
.input_with_icon .form-control {
	padding-right: 30px;
}
.input_with_icon i {
	position: absolute;
	top: 13px;
	right: 10px;
}
.search_addsite p {
	text-align: right;
}
.search_addsite a {
	color: #136e9d;
	padding: 5px;
	font-weight: 700;
	display: inline-block;
}
/*================= product list =================*/
.breadcrumbs a, .breadcrumbs span {
	font-size: 12px;
	font-weight: 700;
	color: #000;
	margin-right: 15px;
    padding-right: 15px;
    position: relative;
}
.breadcrumbs span {
	color: #136e9d;
}
.breadcrumbs a:before {
	font-family: Font Awesome\ 5 Pro;
    content: "\f105";
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: -4px;
	margin-top: -9px;
	width: 7px;
}
.product_list_bx {
	border: 1px solid #EEEEEE;
	background-color: #fff;
	display: inline-block;
	width: 100%;
	transition: box-shadow 0.3s ease;
}
.product_list_bx:hover {
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.09);
}
.product_list_bx_img {
	position: relative;
}
.product_list_bx_img img {
	min-width: 100%;
	object-fit: cover;
	height: 200px;
}
.product_list_bx_dtl {
	padding: 8px;
}
.product_list_bx_dtl h6 {
	position: relative;
	padding-right: 60px;
	font-size: 18px;
}
.product_list_bx_dtl h6 span {
	position: absolute;
	top: 0;
	right: 0;
	color: #136e9d;
}
.product_list_bx_dtl h6 span i {
	font-size: 16px;
	display: inline-block;
    vertical-align: top;
}
.product_list_bx_dtl h6 span sub {
	font-weight: 500;
	color: #000;
}
.product_list_bx_dtl p {
	font-size: 12px;
	margin-bottom: 8px;
}
.product_list_bx_dtl p span {
	color: #136e9d;
}
.product_list_bx_img .dropdown {
	position: absolute;
	top: 8px;
	right: 8px;
}
.product_list_bx_img .dropdown-toggle::after {
	content: none;
}
.product_list_bx_img .dropdown-toggle {
	font-size: 16px;
}
.product_list_info {
	border-radius: 0;
	border: none;
	box-shadow: 15px 30px 80px #00000014;
	padding-top: 0;
	width: 170px;
}
.product_list_info h6 {
	font-size: 14px;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}
.info_item p {
	margin-bottom: 4px;
	font-size: 12px;
	color: #000;
}
.info_item p span {
	min-width: 90px;
	display: inline-block;
}
.product_distance {
	color: #2A3C52;
	font-size: 12px;
}
.product_list_bx_img .product_distance {
	position: absolute;
	right: 8px;
	bottom: 5px;
}
.product_distance img {
	min-width: auto;
	width: 10px;
	height: 10px;
	margin-right: 3px;
}
/*== custome popup sticky ==*/
.multiselect-native-select .btn-group {
	width: 100%;
}
.multiselect-native-select .btn-group .custom-select {
	text-align: left;
}
.cust_design_mix .cust_design_mix_btn {
	min-width: 147px;
	text-align: center;
	position: fixed;
	top: 160px;
	right: 0;
	transform: rotate(-90deg);
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	transform-origin:100% 100%;
	border-radius: 10px 10px 0px 0px;
}
/*======== custome mix ===========*/
.cusrom_rmc_tag {
	display: flex;
	width: 100%;
	align-items: center;
	font-size: 12px;
}
.tag {
	border: 1px solid #E5E5E5;
	padding: 8px 10px;
	margin-left: 10px;
	background-color: #fff;
}
.tag a {
	padding-left: 10px;
}
.custom_rmc_bx {
	border: 1px solid #E5E5E5;
	background-color: #fff;
	color: #000;
	display: inline-block;
	width: 100%;
}
.custom_rmc_bx:hover {
	color: #000;
}
.custom_rmc_list .custom_rmc_bx:hover {
	border: 1px solid #ddd;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 20%);
}
.color_orange {
	color: #136e9d;
}
.color_sky {
	color: #0084D1;
}
.custom_rmc_heading p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}
.custom_rmc_price p span {
	font-size: 12px;
	font-weight: 400;
}
.custom_rmc_info {
	border-left: 3px solid #2A3C52;
	border-right: 3px solid #2A3C52;
	background-color: #FAFAFA;
	display: inline-block;
	width: 100%;
}
.custom_rmc_bx:hover .custom_rmc_info {
	border-color: #136e9d;
}
.custom_rmc_info p {
	display: flex;
	justify-content: space-between;
}
.desi_mix_dec p {
	border-top: 1px solid #E5E5E5;
}
.qty-block {
    width: 100%;
    max-width: 140px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #2A3C52;
    position: relative;
    color: #2A3C52;
    font-size: 14px;
    display: flex;
}
.qty-block button {
    width: 40px;
    background: #fff;
    color: #2A3C52;
    text-align: center;
    font-size: 16px;
    border: 0px solid transparent;
    outline: none;
    padding: 0;
}
.qty-block .qty_sub {
    border-right: 1px solid #2A3C52;
}
.qty-block .qty_add {
    border-left: 1px solid #2A3C52;
}
.qty-block input {
    text-align: center;
    width: 60px;
    background: none;
    border: 0;
    font-weight: 700;
    border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.custom_rmc_qty span {
	font-size: 14px;
	/* font-weight: 700; */
}

/*=========== product detail page ===========*/
.wht_bx {
	background-color: #fff;
}
.prod_dtl_slider .carousel-item:before {
	content: none;
}
.avail_stock_pump {
	flex-wrap: wrap;
}
.form-check-input {
	width: 16px;
	height: 16px;
	border: 1px solid #136e9d;
	margin-top: 3px;
}
.form-check-input[type=checkbox] {
	border-radius: 0;
}
.form-check-input:checked {
	background-color: #136e9d;
    border-color: #136e9d;
}
.form-check-input:focus {
	box-shadow: none;
	border-color: #136e9d;
}
.form-check-input:checked[type=checkbox] {
    background-position: left;
}
.prod_dtl_des {
	display: inline-block;
	width: 100%;
}
.prod_dtl_des>div {
	display: inline-block;
	width: 100%;
}
.prod_dtl_des h6 {
	font-size: 16px;
	margin: 10px 0;
}
.prod_dtl_des p {
	margin-bottom: 0;
}
.prod_dtl_des ul {
	list-style-type: circle;
	padding-left: 20px;
}
.avrage_rating {
	color: #136e9d;
	font-size: 24px;
	margin-bottom: 20px;
}
.avrage_rating i {
	font-size: 18px;
	vertical-align: 0.20rem;
}
.avrage_rating sub {
	color: #000;
	bottom: 0;
	font-size: 14px;
}
.avrage_rating span {
	font-size: 16px;
	font-weight: 400;
	color: #000;
}
.review_bx {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 1rem;
}
.review_bx:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.review_bx h6 {
	font-size: 14px;
}
.star_rating i {
	margin-right: 2px;
	color: #136e9d;
}
.review_bx .date {
	font-size: 12px;
}
.view_all {
	text-align: center;
}
.view_all a {
	text-decoration: underline;
	color: #136e9d;
	font-weight: 500;
}
.view_all a:hover {
	color: #000;
}
textarea.form-control {
    min-height: 100px;
}
.delet_confor_pop_inner p {
	font-weight: 500;
}
.delet_confor_pop_inner .btn {
	min-width: 78px;
}
/*== time choose popup ==*/
.choose_time_bx {
	align-items: flex-start;
}
.choose_time_img {
	position: relative;
	border: 1px solid #E5E5E5;
	width: 130px;
}
.choose_time_img .form-check-input{
	position: absolute;
	top: 8px;
	left: 10px;
}
.choose_time_info {
	padding-left: 16px;
	flex: 1;
}
.alert {
	font-size: 12px;
	padding: 6px 15px;
	border-radius: 0;
}
.choose_time_bx {
	border-bottom: 1px solid #E5E5E5;
}
/*=========== cart page ===========*/

.cart_table {
	font-size: 13px;
	text-align: center;
}
.cart_table .qty-block {
	height: 32px;
	max-width: 95px;
	margin: 0 auto;
}
.cart_table .qty-block button {
	width: 25px;
	font-size: 13px;
}
.cart_table .qty-block input {
	width: 45px;
	font-size: 12px;
	padding: 5px;
	height: auto;
}
.cart_table .remove_cart_item {
	font-size: 16px;
}
.cart_table .table tr th {
	white-space: nowrap;
}
.cart_table .table tr td .date_time {
	color: #212121;
}
.cart_table .table tr td {
	padding-top: 20px;
	padding-bottom: 10px;
}
/* cart right */
.cart_right, .cart_item {
	min-height: 500px;
}
.cart_right h6 {
	font-size: 16px;
	border-bottom: 1px solid #E5E5E5;
}
.selected_address {
	border-bottom: 1px solid #E5E5E5;
}
.cart_price p {
	position: relative;
	padding-right: 75px;
}
.cart_price p span {
	position: absolute;
	right: 0;
	font-weight: 500;
}
.cart_price p.cart_price_total {
	border-top: 1px solid #E5E5E5;
}
/*============= profile page start ===================*/
.login_sign .dropdown-menu {
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    background-color: #fff;
    border-radius: 0;
}
.login_sign .dropdown-menu .dropdown-item {
	font-size: 13px;
}
.pro_left_menu ul {
	padding: 5px 20px;
}
.pro_left_menu ul li a {
	font-size: 14px;
	border-bottom: 1px solid #E5E5E5;
	padding: 15px 0 15px 25px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.pro_left_menu ul li a i {
	position: absolute;
	top: 17px;
	left: 0;
	font-size: 16px;
}
.pro_left_menu ul li a.active, .pro_left_menu ul li a:hover {
	color: #136e9d;
	border-color: #136e9d
}
.pro_left_menu ul li:last-child a {
	border-bottom: none;
}
.profile_fild_footer .btn-primary {
	min-width: 100px;
}
.form-label sup {
	color: red;
}
.error {
	color: red;
}
.site_add_bx {
	border: 1px solid #E5E5E5;
	position: relative;
	min-height: 210px;
}
.site_add_bx p {
	line-height: 26px;
}
.site_add_opration {
	position: absolute;
	right: 15px;
	bottom: 5px;
}
.site_add_opration a {
	font-size: 18px;
	display: inline-block;
	padding: 5px;
}
.add_site_link {
	position: absolute;
	right: 0;
	bottom: -25px;
	font-size: 14px;
}
.profile_fild {
	min-height: 300px;
}

/* order list page start */
.order_list_tbl .table {
	border: 1px solid #E5E5E5;
}
.order_dtl_tbl .table {
	min-height: 500px;
}
.order_list_tbl .table tr th, .order_list_tbl .table tr td {
	border: none;
	padding: 12px;
}
.order_list_tbl .table tr th {
	background-color: #fcfcfc;
	font-weight: 500;
}

/* order detail page */

.order-list-block {
	margin: 0 0 30px 0;
	padding: 0;
	border: 1px solid #eaeaea;
}
.order-list-block:last-child {
	margin-bottom: 0;
}
.order-list-head-block {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #eaeaea;
	background: #f9f9f9;
}
.order-list-middle-block,
.order-list-middle-top-block {
	margin: 0;
	padding: 0;
}
.ordlst-table-block {
	padding: 0 10px;
}
.ordlst-table-block .table>thead>tr>th {
	border-bottom: 1px solid #eaeaea;
	font-weight: 500;
}
.ordrlst-img-block {
	display: block;
	width: 60px;
	margin: 0;
	border: 1px solid #e1e1e1;
	height: 50px;
	overflow: hidden;
}
.ordrlst-img-block img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.ordlst-id-block {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 3px;
	font-weight: 500;
}
.ordlst-id-block span {
	/* color: #136e9d; */
	font-weight: normal;
}
.ordlst-date-block,
.ordlst-sd-text-block {
	font-size: 14px;
	color: #000;
	font-weight: 500;
}
.ordlst-sd-text-block {
	margin-bottom: 3px;
}
.ordlst-sd-text-block:last-child {
	margin-bottom: 0;
}
.ordlst-date-block span,
.ordlst-sd-text-block span {
	color: #1c1105;
	font-weight: normal;
}
.olstd-site-name-block h3, .olstd-payment-block h3 {
	font-size: 14px;
	font-weight: 500;
    color: #1c1105;
}
.olstd-site-name-block h2 {
   color: #136e9d;
	font-size: 14px;
	font-weight: normal;
}
.ordlst-details-block {
    padding: 10px;
}
.ordlst-hlink-block {
	text-align: right;
	padding-top: 10px;
}
.ordlst-hlink-block .dropdown-toggle {
	background-color: #FFE2E5;
	color: #F64E60;
	border-radius: 6px;
	padding: 10px 15px;
	font-size: 16px;
}
.ordlst-hlink-block .dropdown-toggle::after {
	content: none;
}
.ordlst-hlink-block .dropdown-menu {
	font-size: 14px;
}
.ordrlst-total-text-block {
	font-size: 14px;
	font-weight: normal;
	color: #1c1105;
	text-align: right;
	float: right;
	width: 100%;
	line-height: 24px;
}
.ordrlst-total-text-block.ordrlst-mani-list {
	font-size: 16px;
	margin-top: 10px;
	font-weight: 600;
}
.ordrlst-total-text-block strong {
	font-weight: 500;
	text-align: right;
	width: auto;
	display: inline-block;
}
.ordrlst-total-text-block span {
	text-align: right;
	display: inline-block;
	margin-left: 15px;
	min-width: 170px;
}
.badge {
	font-weight: 500;
	padding-top: 6px;
}
.tm_info_dropdown .dropdown-toggle::after {
	content: none;
}
.tm_info_bx h4, .custom_rmc_bx h4 {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
}
.tm_info_list {
	font-size: 13px;
	margin-bottom: 10px;
	white-space: nowrap;
}
.tm_info_list span {
	min-width: 150px;
	display: inline-block;
}
.tm_info_dropdown .dropdown-menu {
	padding: 10px;
	border-radius: 0;
}
.custom_rmc_dropdown .dropdown-menu {
	min-width: 450px;
}
.custom_rmc_dropdown .custom_rmc_bx {
	border: none;
}
.custom_rmc_dropdown .custom_rmc_info {
	background-color: #FAFAFA;
	display: inline-block;
	width: 100%;
	padding: 10px;
	padding-bottom: 0;
	border: none;
}
.custom_rmc_dropdown .custom_rmc_info h5 {
	color: #136e9d;
	margin-bottom: 10px;
	font-size: 14px;
}
.custom_rmc_dropdown .custom_rmc_info p {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-bottom: 5px;
}
.custom_rmc_dropdown .custom_rmc_dec p {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 5px;
	line-height: 18px;
}
.custom_rmc_dropdown .custom_rmc_dec p b {
	display: block;
	margin-bottom: 5px;
}

/*== Squport ticket ==*/
.chat_attechment {
	display: inline-block;
	width: 100%;
	margin-top: 5px
}
.chat_attechment h3 {
	font-size: 14px;
	font-weight: 500;
}
.chat_attechment ul li {
	display: inline-block;
}
.mailbox-attachment-info {
	background-color: #fff;
    padding: 5px 10px;
    background: #f4f7fc;
}
.mailbox-attachment-info a {
	font-weight: normal;
    font-size: 12px;
    color: #666;
}

/*support ticket css start*/
.sub-title-block1 { margin: 10 0 20px 0; padding: 15px 0; position: relative; align-items: center;}
.sub-title-block1{font-weight: 500;font-size: 16px;padding: 0;}
.badge{height: 24px;font-size: 12px !important;line-height: 14px;min-width: 66px; letter-spacing: .2px; font-weight: 400; border-radius: 3px;}
.badge.bg-red{background-color: #fcddde !important; color: #f2545b !important;}
.badge.bg-green{background-color: #aef2e1 !important; color: #07785c !important;}
.badge.bg-yellow{background-color: #fbe8aa !important;color: #c79908 !important;}
.badge.bg-grey{background-color: #eaeef4 !important;color: #758caf !important;}
.badge.bg-purple{background-color: #8F80FF !important;color: #fff !important;}
/*support ticket css start*/
.support-ticket-list-block{position: relative; padding: 0; float: left; width: 100%;}
.cstm-input {width: 100%;}
.cstm-input textarea {height: 100px; line-height: normal;}
#ctsubject {resize: none; height: 65px;}
.character-text, .file-note-text, .file-error-text{font-size: 12px; font-style: italic; font-weight: 500; float: right; width: 100%; text-align: right;}
.file-error-text{font-style: normal; color: #f50057; width: 100%; text-align: center; margin-top: 10px;}
.support-ticket-details-block{position: relative; padding: 0; float: left; width: 100%;}
.rply-block{float: left; width: 100%; margin: 0; padding: 0; position: relative;}
.rply-block .rplyshow{position: absolute; top: -52px; right: 0;}
.rply-form-block{float: left; width: 100%; padding: 20px; background: #f9f9f9; margin-bottom: 20px; border: 1px solid rgba(0,0,0,0.08);}
.rply-form-block .input-field {float: left; width: 100%; margin: 0 0 15px 0; padding: 0;}
.rply-form-block .input-field label {position: relative; margin-bottom: 10px; font-size: 14px; font-weight: normal; color: #000000; float: left; width: 100%; transform: none;}
.rply-form-block .input-field label { position: relative;margin-bottom: 10px; font-size: 14px;font-weight: normal;color: #000000;float: left;width: 100%;transform: none;}
/*chat start*/
.chat-area{position:relative;overflow:hidden;height:-webkit-calc(100vh - 400px);height:-moz-calc(100vh - 400px);height:calc(100vh - 400px);padding:0 5px 20px 5px; width: 100%; display: inline-block; overflow-y: scroll;}
.chat-area .chats{padding:0}
.chat-area .chats .chat{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;margin:0;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.chat-area .chats .chat.chat-right{-webkit-box-pack:end;-webkit-justify-content:flex-end;-moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.chat-area .chats .chat.chat-right .chat-body{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;-webkit-box-align:end;-webkit-align-items:flex-end;-moz-box-align:end;-ms-flex-align:end;align-items:flex-end}
.chat-area .chats .chat.chat-right .chat-body .chat-content{text-align:right}
.chat-area .chats .chat.chat-right .chat-body .chat-text{flex-direction:row-reverse;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-moz-box-orient:horizontal;-moz-box-direction:reverse;-ms-flex-direction:row-reverse; background-color:#f9f9f9}
.chat-area .chats .chat.chat-right .chat-body .chat-tms-details{text-align: right;}
.chat-area .chats .chat .chat-body{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;-webkit-box-align:start;-webkit-align-items:flex-start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start; margin:0 5px}
.chat-area .chats .chat .chat-body .chat-text{max-width:800px; padding:.5rem 1rem; color:#757575; border-radius:5px; background-color:#fff; width: 100%; margin: 10px 0; border: 1px solid rgba(0,0,0,0.08);}
.chat-area .chats .chat .chat-body .chat-text p{float: left; width: 100%; margin: 5px 0; line-height: 20px;}
.chat-area .chats .chat .chat-body .chat-tms-details{float: left; width: 100%; margin: 0; padding: 0; position: relative;}
.chat-area .chats .chat .chat-body .chat-tms-details h5{font-size: 14px; font-weight: 500; color: #212121; margin: 0; line-height: 14px;}
.chat-area .chats .chat .chat-body .chat-tms-details p{font-size: 13px; font-weight: normal; color: #888888; margin: 0;}
.chat-area .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(0,0,0,0.85);}
.chat-area .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: rgba(0,0,0,0.85);}
/*1end*/

/*file upload css start*/
.fileuploader,.fileuploader *,.fileuploader :before,.fileuploader :after{box-sizing:border-box}
.fileuploader{display:block;width:100%;padding:0;margin:0;background:none;border-radius:4px;line-height:normal;text-align:left;overflow:hidden}
.fileuploader-input{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;border:1px solid transparent;cursor:pointer;overflow:hidden}
.fileuploader-input-caption{position:relative;display:inline-block;-webkit-box-flex:1;-ms-flex:1;flex:1;-ms-flex-item-align:start;align-self:flex-start;padding:10px 15px;margin-right:15px;background:#fff;border:1px solid #dde4f6;border-radius:4px;color:#94a2e8;font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}
.fileuploader-input-button{display:inline-block;background:#687ddb;padding:11px 20px;border-radius:4px;color:#fff;text-align:center;font-weight:700;vertical-align:top;cursor:pointer;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}
.fileuploader-input-button:hover{background:#7b90ef}
.fileuploader-input-button:active{background:#687ddb;box-shadow:inset 0 1px 6px rgba(0,0,0,0.1)}
.fileuploader-focused .fileuploader-input-caption{border-color:#b8c2ef}
.fileuploader-focused .fileuploader-input-button{background:#7b90ef;border-color:#7b90ef}
.fileuploader-disabled .fileuploader-input{opacity:.7;cursor:default;pointer-events:none!important}
.fileuploader-theme-default .fileuploader-dragging{background:#fff;border:1px dashed #dde4f6}
.fileuploader-theme-default .fileuploader-dragging .fileuploader-input-caption{border-color:transparent}
.fileuploader-theme-default .fileuploader-dragging .fileuploader-input-button{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}
.fileuploader.fileuploader-is-uploading .fileuploader-input-caption:after{width:14px;height:14px;right:10px;top:50%;margin-top:-10px;opacity:.8}
.fileuploader.fileuploader-is-uploading .fileuploader-input-caption:after,.fileuploader-item .fileuploader-item-image.fileuploader-loading:after,.fileuploader-item.upload-pending .fileuploader-action-remove:after{content:'';position:absolute;width:20px;height:20px;border-radius:50%;border-top:3px solid #dde4f6;border-right:3px solid #dde4f6;border-bottom:3px solid #dde4f6;border-left:3px solid #979fb8;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation:fileuploaderSpin 1s infinite linear;animation:fileuploaderSpin 1s infinite linear}
.fileuploader-items-list{display:block;padding:0;list-style:none; margin-bottom: 24px}
.fileuploader-item{position:relative;margin:0;padding:10px 15px;border-bottom:1px solid #e8e8e8;-webkit-animation:fileuploaderSlideIn .4s ease;animation:fileuploaderSlideIn .4s ease}
.fileuploader-item:last-child{border-bottom:0;margin-bottom:-15px}
.fileuploader-item.upload-failed{background:rgba(41,141,228,0.08)}
.fileuploader-item.upload-pending .fileuploader-action-remove:after{width:26px;height:26px;right:-5px;top:50%;margin-top:-13px;opacity:.2}
.fileuploader-item .columns{position:relative;z-index:2}
.fileuploader-item .column-thumbnail{position:absolute;width:36px;height:36px;line-height:36px;left:0;top:0}
.fileuploader-item .column-thumbnail .fileuploader-item-image{width:100%;height:100%;overflow:hidden}
.fileuploader-item .fileuploader-item-image img,.fileuploader-item .fileuploader-item-image canvas{border-radius:4px;-webkit-animation:fileuploaderFadeIn .2s ease;animation:fileuploaderFadeIn .2s ease}
.fileuploader-item .column-thumbnail .fileuploader-item-image.fileuploader-loading:after{width:24px;height:24px;left:50%;top:50%;margin-left:-12px;margin-top:-12px;border-radius:50%;opacity:.12}
.fileuploader-item .fileuploader-item-icon{position:relative;width:100%;height:100%;text-align:center;color:#fff;font-size:11px;background:#777 !important;border-radius:4px;-webkit-animation:fileuploaderFadeIn .2s ease;animation:fileuploaderFadeIn .2s ease}
.fileuploader-item .fileuploader-item-icon.is-bright-color{color:#fff}
.fileuploader-item .fileuploader-item-icon i{display:block;width:90%;margin:0 auto;overflow:hidden;text-overflow:ellipsis;font-style:normal;font-weight:400}
.fileuploader-item .column-title{display:block;padding-left:51px;padding-right:22px;color:#74809D}
.fileuploader-item a{color:#74809D;text-decoration:none}
.fileuploader-item .column-title div{width:100%;font-weight:500;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.fileuploader-item .column-title span{font-size:12px;color:#979fb8}
.fileuploader-item .column-actions{position:absolute;right:0;top:50%;margin-top:-9px}
.fileuploader-action{display:inline-block;position:relative;width:18px;height:18px;border-radius:50%;cursor:pointer;vertical-align:top;-webkit-transform:translateZ(0px);transform:translateZ(0px);-webkit-transition:all .2s ease-out;transition:all .2s ease-out}
.fileuploader-item .column-actions .fileuploader-action + .fileuploader-action{margin-left:10px}
.fileuploader-item .column-actions .fileuploader-action-success{position:absolute;right:0;top:0}
.fileuploader-item .column-actions .fileuploader-action-success:hover,.fileuploader-item .column-actions .fileuploader-action-success:active{opacity:0}
.fileuploader-action-remove{background:#fae1e1;border:1px solid #dd3030}
.fileuploader-action-remove:hover{background:#ffefef}
.fileuploader-action-remove:active{background:#ffcfcf}
.fileuploader-action-remove i:before,.fileuploader-action-remove i:after{content:'';position:absolute;top:4px;left:7px;height:8px;width:2px;background-color:#f59595}
.fileuploader-action-remove i:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.fileuploader-action-remove i:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.fileuploader-action-start{background:#687ddb;border-radius:50%}
.fileuploader-action-start i{position:absolute;left:50%;top:50%;margin-left:-2px;margin-top:-5px;border-radius:2px;width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #fff}
.fileuploader-action-start:hover{background:#7b90ef}
.fileuploader-action-start:active{background:#687ddb;box-shadow:inset 0 1px 6px rgba(0,0,0,0.1)}
.fileuploader-action-success{background:#687ddb;border:0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.fileuploader-action-success i:before,.fileuploader-action-success i:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform:rotate(0);transform:rotate(0)}
.fileuploader-action-success i:before{width:4px;height:2px;left:6px;top:11px;background:#fff}
.fileuploader-action-success i:after{top:4px;left:9px;width:2px;height:9px;background:#fff}
.fileuploader-action-download{background:#687ddb;border-radius:50%}
.fileuploader-action-download i{position:absolute;left:50%;top:50%;margin-left:-1px;margin-top:-4px;width:2px;height:5px;border-radius:0;background:#fff}
.fileuploader-action-download i:after{content:'';position:absolute;width:0;height:0;bottom:-4px;left:-3px;border-left:4px solid rgba(0,0,0,0);border-right:4px solid rgba(0,0,0,0);border-top:5px solid #fff;border-radius:2px}
.fileuploader-action-download:hover{background:#7b90ef}
.fileuploader-action-download:active{background:#687ddb;box-shadow:inset 0 1px 6px rgba(0,0,0,0.1)}
.fileuploader-action-retry{background:#687ddb;border-radius:50%}
.fileuploader-action-retry i:before{content:'';position:absolute;width:10px;height:10px;left:4px;top:4px;border-radius:50%;border:2px solid #fff}
.fileuploader-action-retry i:after{content:'';position:absolute;width:6px;height:3px;left:3px;top:9px;background:#687ddb}
.fileuploader-action-retry:hover,.fileuploader-action-retry:hover i:after{background:#298de4}
.fileuploader-action-retry:active,.fileuploader-action-retry:active i:after{background:#687ddb;box-shadow:inset 0 1px 6px rgba(0,0,0,0.1)}
.fileuploader-item .fileuploader-progressbar{position:absolute;left:0;bottom:0;width:100%;height:4px;border-radius:4px;overflow:hidden}
.fileuploader-item .fileuploader-progressbar .bar{position:absolute;left:0;top:0;width:0;height:100%;border-radius:4px;background:#687ddb;-webkit-transition:width .3s ease;transition:width .3s ease}
.fileuploader-item .progress-bar2 .fileuploader-progressbar{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.fileuploader-item .progress-bar2 .fileuploader-progressbar .bar{position:absolute;left:0;top:0;width:0;height:100%;border-radius:0;background:rgba(104,125,219,0.08);-webkit-transition:width .3s ease;transition:width .3s ease}
.fileuploader-item .progress-bar2 span{position:absolute;top:50%;margin-top:-29px;right:15px;color:rgba(151,159,184,0.16);font-size:48px}
.fileuploader-input-caption .fileuploader-pending-loader{margin-right:5px}
.fileuploader-pending-loader{position:relative;display:inline-block;width:14px;height:14px;overflow:hidden;vertical-align:middle}
.fileuploader-pending-loader:after,.fileuploader-pending-loader .left-half{background:#fff}
.fileuploader-pending-loader .right-half,.fileuploader-pending-loader .spinner{background:#94a2e8}
.fileuploader-pending-loader:after{content:'';position:absolute;top:3px;left:3px;width:8px;height:8px;border-radius:50%;z-index:4}
.fileuploader-pending-loader .left-half,.fileuploader-pending-loader .right-half,.fileuploader-pending-loader .spinner{position:absolute;top:0;width:50%;height:100%}
.fileuploader-pending-loader .left-half{left:0;opacity:1;border-radius:100% 0 0 100%/ 50% 0 0 50%;-webkit-animation:fileuploaderOpacity 3s steps(1,end) infinite;animation:fileuploaderOpacity 3s steps(1,end) infinite;z-index:3}
.fileuploader-pending-loader .right-half{right:0;opacity:0;border-radius:0 100% 100% 0/ 0 50% 50% 0;-webkit-animation:fileuploaderOpacity 3s steps(1,end) reverse infinite;animation:fileuploaderOpacity 3s steps(1,end) reverse infinite;z-index:1}
.fileuploader-pending-loader .spinner{left:0;border-radius:100% 0 0 100%/ 50% 0 0 50%;-webkit-animation:fileuploaderSpin 3s linear infinite;animation:fileuploaderSpin 3s linear infinite;-webkit-transform-origin:center right;transform-origin:center right;z-index:2}
@-webkit-keyframes fileuploaderOpacity {
0%{opacity:1}
50%,100%{opacity:0}
}
@keyframes fileuploaderOpacity {
0%{opacity:1}
50%,100%{opacity:0}
}
@-webkit-keyframes fileuploaderFadeIn {
from{opacity:0}
to{opacity:1}
}
@keyframes fileuploaderFadeIn {
from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes fileuploaderScaleIn {
from{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes fileuploaderScaleIn {
from{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes fileuploaderSlideIn {
from{-webkit-transform:translateY(100%);transform:translateY(100%);opacity:0}
to{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}
}
@keyframes fileuploaderSlideIn {
from{-webkit-transform:translateY(50%);transform:translateY(50%);opacity:0}
to{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}
}
@-webkit-keyframes fileuploaderSlideOut {
from{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}
to{-webkit-transform:translateY(50%);transform:translateY(50%);opacity:0}
}
@keyframes fileuploaderSlideOut {
from{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}
to{-webkit-transform:translateY(50%);transform:translateY(50%);opacity:0}
}
@-webkit-keyframes fileuploaderSpin {
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes fileuploaderSpin {
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

/*== promocode ==*/
.promocode {
    padding: 4px;
    border: 1px dashed #b7b7b7;
    margin-bottom: 12px;
    cursor: pointer;
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative;
}
.promocode-apply {
	border-color: green;
}
.promocode p {
	margin: 0;
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
.promocode-apply p {
	color: green;
	font-weight: 600;
}
.promocode-apply .btn-close {
	box-shadow: none;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	background-color: transparent;
}
.discoumt_apply {
	color: green
}

/*offer list css start*/
.ofr_list_blk{
	padding: 15px 20px;
	position: relative;
	width: 100%;
}
.ofr_list_blk h3 {
	font-size: 20px;
	font-weight: 700;
}
.ofr_inpt_blk {
    position: relative;
	width: 100%;
	margin: 20px 0;
}
.ofr_inptbx{
    background: #fff;
	border: 1px solid #ddd;
	padding: 5px 10px;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	padding-right: 60px;
}
 button.ofr_btn {
    background: none;
	border: 0;
	position: absolute;
	right: 0;
	top: 1px;
	height: 38px;
	padding: 0 15px;
	font-weight: 700;
	color: #333;
	-webkit-transition: .3s ease-in-out all;
	-o-transition: .3s ease-in-out all;
	transition: .3s ease-in-out all;
	border-left: 1px solid #ddd;
}
 button.ofr_btn:hover{
    color: #000;
}
.ofr_inptbx:hover ~ button.ofr_btn, .ofr_inptbx:focus ~ button.ofr_btn {
	border-left: 1px solid #000;
}
.ofr_or{
    position: relative;
	text-align: center;
}
.ofr_or span{
    font-size: 14px;
	font-weight: 500;
	color: #333;
	background: #fff;
	padding: 5px 10px;
	position: relative;
}
.ofr_or::before{
    content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	width: 100%;
	background: #eee;
}
.ofr_cod_lst {
    margin: 15px 0;
	position: relative;
	width: 100%;
}
.ofr_cod_lst h4 {
    font-size: 14px;
	margin-bottom: 20px;
	color: #333;
}
.ofr_cod_lst li {
    background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin-top: 15px;
	padding: 10px;
	position: relative;
}
.ofrcod_slct [type="radio"]:checked,.ofrcod_slct [type="radio"]:not(:checked){
    position:absolute;
    left:-9999px
}
.ofrcod_slct [type="radio"]:checked + label,.ofrcod_slct [type="radio"]:not(:checked) + label{
    position:relative;
    padding-left:28px;
    cursor:pointer;
    line-height:16px;
    display:inline-block;
    color: #333;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.ofrcod_slct [type="radio"]:checked + label:before,.ofrcod_slct [type="radio"]:not(:checked) + label:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:18px;
    height:18px;
    border:1px solid #ddd;
    border-radius:100%;
    background:#fff
}
.ofrcod_slct [type="radio"]:checked + label:after,.ofrcod_slct [type="radio"]:not(:checked) + label:after{
    content:'';
    width:10px;
    height:10px;
    background:#136e9d;
    position:absolute;
    top:4px;
    left:4px;
    border-radius:100%;
    -webkit-transition:all .2s ease;
    transition:all .2s ease
}
.ofrcod_slct [type="radio"]:not(:checked) + label:after{
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0)
}
.ofrcod_slct [type="radio"]:checked + label:after{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
}
.ofrcod_dtls {
    padding-left: 28px;
}
.ofrcod_dtls p, .ofrcod_dtls a{
    margin: 0;
	font-size: 13px;
	line-height: 20px;
	color: #333;
}
.ofrcod_dtls a{
    color: red;
}
.TndCppbtn.dropdown-toggle::after{
    display: none;
}
.TndCppWrp{
    padding: 10px 0;
	width: 100%;
	max-width: 265px;
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.TndCppCnt{
    min-height: 200px;
	overflow: auto;
	padding: 0 15px;
	max-height: 250px;
	height: 100%;
}
.TndCppCnt p{
	font-size: 12px;
	margin-bottom: 15px;
}
.ofrSldm--right.ofrSldm-open .ofrSldm-hamburger {
	right: 0;
}
/*offer list css end*/
.cart_table .table tr:nth-child(even) td {
	border: none
}
.cart_table .table .tm_pump_change_tr td {
	padding: 0;
}

.ordlst-delivery-details-block {
    padding-left: 46px;
    position: relative;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 24px;
    background-color: #fbfbfb;
	border: 1px solid #ddd;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 9%);
}
.ordlst-delivery-details-block i {
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 18px;
    color: #136e9d;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}
.ordlst-delivery-date, .ordlst-truck-no {
    font-weight: normal;
    font-size: 14px;
    color: #0da923;
    padding-top: 3px;
}
.ordlst-truck-no {
    color: #9c9c9c;
}
.ordlst-truck-no span {
    color: #1c1105;
}
.track-link a {
	color: #136e9d;
}
#multi-truck-popup .modal-dialog {
	max-width: 600px;
}

/*track1 start*/
.track-process-step1 {display: inline-block; width: 100%; margin: 0; padding: 0;}
.progress{list-style:none;margin:0;padding:20px 0;display:table;table-layout:fixed;width:100%;color:#849397; background: #f3f3f3; border: 1px solid #eaeaea; border-top: 0;}
.progress > li{position:relative;display:table-cell;text-align:center;font-size: 14px;font-weight: 500;}
.progress > li:before{content:attr(data-step);display:block;margin:0 auto;background:#DFE3E4;width:3em;height:3em;text-align:center;margin-bottom:.25em;line-height:3em;border-radius:100%;position:relative;z-index:5}
.progress > li.is-complete:before{content:'\f00c'; font-family: "FontAwesome";}
.progress > li:after{content:'';position:absolute;display:block;background:#DFE3E4;width:100%;height:.5em;top:1.25em;left:50%;margin-left:1.5em\9;z-index:0}
.progress > li:last-child:after{display:none}
.progress > li.is-complete{color:#2ECC71}
.progress > li.is-complete:before,.progress > li.is-complete:after{color:#FFF;background:#2ECC71}
.progress > li.is-active{color:#3498DB}
.progress > li.is-active:before{color:#FFF;background:#3498DB}
.progress > li.is-inactive{color:#e64949}
.progress > li.is-inactive:before{color:#FFF;background:#e64949}
.progress > li.is-inactive:before{content:'\f00d'; font-family: "FontAwesome";}
.progress__last:after{display:none!important}
.progress--medium{font-size:1.5em}
.progress--large{font-size:2em}
.progress{margin-bottom:1em}
/*track1 end*/
/* .track-block {
    border: 1px solid #eaeaea;
} */
.truck-number-text, .truck-contact-no {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0;
    color: #555;
}
.ordlst-id-block {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 3px;
}
.ordlst-date-block span {
    color: #1c1105;
}
.track-details-block table {
    margin-bottom: 0;
    border: 1px solid #eaeaea;
}
.track-details-block table thead tr th {
    background: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #eaeaea !important;
}
.track-details-block table tbody tr td {
    font-size: 14px;
    color: #1c1105;
    text-align: center;
}
/*payment popup start*/
.payment-popup-block{position: fixed; width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.70); z-index: 999;}
.payment-goto-text{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 6vw; color: #fff; width: 100%; text-align: center;}
.payment-thanku-popup{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 475px; padding: 30px; text-align: center; background: #fff; border-radius: 10px;}
.payment-thanku-popup img{display: inline-block;}
.payment-thanku-popup .thanku-text{font-size: 16px; color: #1c1105; font-weight: 500; margin: 20px 0 8px 0;}
.payment-thanku-popup .thanku-text span{color: #136e9d;}
.payment-thanku-popup .orderid-text{font-size: 14px; color: #9c9c9c; font-weight: normal; margin: 0 0 18px 0;}
.payment-thanku-popup .orderid-text span{font-size: 16px; color: #1c1105;}
.payment-thanku-popup a.site-button{min-width: 135px;}
/*payment popup end*/
.header_noti {
    display: inline-block;
    width: 100%;
    overflow: auto;
    height: 400px;
}
.header_noti li {
    border-bottom: 1px solid #ddd;
    padding: 10px 16px;
}
.header_noti li.unseen {
    background-color: #f3f3f3;
}
/* .header_noti li:last-child {
	border-bottom: none;
} */
.header_noti li a {
	font-size: 13px;
    color: black;
}
.header_noti li a h6 {
	font-size: 13px;
	font-weight: 500;
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 3px;
}
.header_noti li a h6 small {
	color: #136e9d;
	font-size: 11px;
	font-weight: 400;
}
.header_noti li a p {
	margin: 0;
	font-size: 12px;
}



.alert-primary {
    color: #3A87AD !important;
    background-color: #D9EDF7 !important;
    border-color: #BCE8F1 !important;
}
.header_menu_item li.header_cust_rmc {
	margin: 5px 0;
}
.header_menu_item li.header_cust_rmc a {
	background-color: #136e9d;
    padding: 8px 15px;
	display: inline-block;
	border-radius: 2px;
}
.header_menu_item li.header_cust_rmc a:hover {
	color: #000;
}
.app_download_btn {
	display: flex;
}
.app_download_btn img {
	width: 115px;
	height: 35px;
}

.empty_cart_sidebar {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    /* margin-top: 50px; */
	margin-bottom: 50px;
	padding-bottom: 50px;
    min-height: 500px;
}
.empty_cart_sidebar_text {
    font-size: 16px;
    padding: 30px 10px;
}
.empty_cart_sidebar_img img {
	max-width: 150px;
}
.current_location {
	position: relative;
	padding-right: 185px;
}
.current_location .form-control {
	padding-right: 35px;
}
.current_location_btn {
	color: #136e9d;
	background-color: #fff;
    border: 1px solid #136e9d;
    padding: 0 25px;
    line-height: 38px;
    display: inline-block;
    min-width: 175px;
	position: absolute;
	top: 0;
	right: 0;
}
.current_location_btn:hover {
	color: #fff;
	background-color: #136e9d;
}
.sell_with_btn {
	color: #fff;
	background-color: #136e9d;
    padding: 8px 15px;
	display: inline-block;
	border-radius: 2px;
	font-size: 13px;
}
.sell_with_btn:hover, .sell_with_btn:focus {
	color: #fff;
	background-color: #c5575a;
}
.file-browse {
    display: inline-block;
    width: 100%;
    position: relative;
}
.button-browse {
    background-color: #999;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    padding: 13px 15px;
    position: absolute;
    right: 0;
    z-index: 6;
    border-radius: 0 3px 3px 0;
}
.button-browse input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block;
}
.form-control.browse-input[readonly] {
    background: #fff;
}
.home_title a {
	font-size: 14px;
	font-weight: 400;
	color: #136e9d;
}
.prod_dtl_des ul li{
	list-style-position: inside;
}
.progress_form {
	display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.header_cart_drop:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .text_right_icon {
	 position: relative;
 }
 .text_right_icon .text_icon {
	 width: 40px;
	 height: 40px;
	 text-align: center;
	 line-height: 40px;
	 position: absolute;
	 right: 0;
	 top: 0;
	 font-size: 16px;
 }

 .range_picker {
    position: relative;
}
.range_picker .form-control {
    padding-right: 35px;
}
.range_picker i {
    position: absolute;
    top: 11px;
    right: 10px;
	pointer-events: none;
}
.daterangepicker table td {
    padding: 0;
}
.inner_tbl .table {
    min-height: auto;
}
.assign_qty_btn {
	display: inline-block;
	background-color: #0da923;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 4px;
	color: #fff;
	border: 1px solid transparent;
	white-space: nowrap;
}
.assign_qty_btn:hover {
	border-color: #0da923;
	color: #0da923;
	background-color: #fff;
}
.truck_list_track .ordlst-delivery-details-block {
	border: 1px solid #ddd;
}
.custom-map-control-button {
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 24px;
    color: #666;
}
/* table titel green and rad color */
.table .tble_heding_color_red {
    color: red;
}
.table .tble_heding_color_green {
    color: green;
}
.order_action .dropdown-toggle::after {
	content: none;
}
.order_action .dropdown-menu a {
	padding: 5px 10px;
	font-size: 14px;
}
.order_action .dropdown-label {
	font-size: 18px;
}
.fillter_btn {
	width: 41px;
    height: 41px;
    font-size: 14px;
    min-width: auto;;
}